<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WQ72BT");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <!-- Primary Meta Tags -->
    <title>Careers | EverWash - The Better Way to Wash Your Car</title>
    <meta
      name="title"
      content="Privacy | EverWash - The Better Way to Wash Your Car"
    />
    <meta
      name="description"
      content="EverWash's privacy policies describes the information gathered from users and how it is used with respect to privacy."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.everwash.com/" />
    <meta
      property="og:title"
      content="Careers | EverWash - The Better Way to Wash Your Car"
    />
    <meta
      property="og:description"
      content="EverWash's privacy policies describes the information gathered from users and how it is used with respect to privacy."
    />
    <meta
      property="og:image"
      content="https://app.everwash.com/img/fbsharer2.jpg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.everwash.com/" />
    <meta
      property="twitter:title"
      content="Careers | EverWash - The Better Way to Wash Your Car"
    />
    <meta
      property="twitter:description"
      content="EverWash's privacy policies describes the information gathered from users and how it is used with respect to privacy."
    />
    <meta
      property="twitter:image"
      content="https://app.everwash.com/img/fbsharer2.jpg"
    />
    <!-- Prevent Cache Across Browsers -->
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./img/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./img/favicon/safari-pinned-tab.svg"
      color="#1e50ff"
    />
    <meta name="apple-mobile-web-app-title" content="EverWash" />
    <meta name="application-name" content="EverWash" />
    <meta name="msapplication-TileColor" content="#00e1e1" />
    <meta name="theme-color" content="#ffffff" />
    <!-- CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <!-- CSS Dir -->
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <!-- WebSights Tracking -->
    <script>
      (function () {
        var zi = document.createElement("script");
        zi.type = "text/javascript";
        zi.async = true;
        zi.referrerPolicy = "unsafe-url";
        zi.src = "https://ws.zoominfo.com/pixel/62277ad0063474001ab2a78d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(zi, s);
      })();
    </script>
  </head>
  <body>
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "https://www.google-analytics.com/analytics.js",
        "ga"
      );

      ga("create", "UA-80110420-1", "auto");
      ga("send", "pageview");
    </script>

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WQ72BT"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
      <div class="container-fluid">
        <a href="./index.html" class="navbar-brand">
          <img
            src="img/EverWash_Logo_Blue_hor.png"
            alt="Everwash Logo"
            class="img-fluid img-nav"
          />
          <img
            src="/img/EverWash_Logo_Blue.png"
            alt="Everwash Logo"
            class="img-fluid img-nav"
          />
        </a>
        <div class="compressed-btn-group">
          <button
            class="btn"
            type="button"
            data-toggle="modal"
            data-target="#loginModal"
          >
            Log In
          </button>
          <button
            class="btn btn-blue"
            type="button"
            data-toggle="modal"
            data-target="#signupModal"
          >
            Sign Up
          </button>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#mainNav"
          aria-controls="mainNav"
          aria-expanded="false"
          aria-label="toggle navigation"
        >
          <div id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
          <ul id="navList" class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="members.html">Member</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="wash-owners.html">Wash Owner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="distributors.html">Distributors</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="http://newsroom.morewashprofits.com/"
                target="_blank"
                >News</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="support.html">Help &amp; Support</a>
            </li>
          </ul>
          <div class="d-flex">
            <button
              class="btn mr-2"
              type="button"
              data-toggle="modal"
              data-target="#loginModal"
            >
              Log In
            </button>
            <button
              class="btn btn-blue"
              type="button"
              data-toggle="modal"
              data-target="#signupModal"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </nav>
    <!-- Login -->
    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      aria-label="Log In"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <button class="btn">
                  <a href="https://app.everwash.com/#login">
                    <h3>Member Login</h3>
                    <p>Manage your unlimited car wash membership account.</p>
                    <div><i class="fal fa-long-arrow-right"></i></div>
                  </a>
                </button>
              </div>
              <div class="col-lg-6">
                <button class="btn">
                  <a href="https://dashboard.everwash.com/">
                    <h3>Partner Login</h3>
                    <p>Manage your car wash business account.</p>
                    <div><i class="fal fa-long-arrow-right"></i></div>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Sign Up -->
    <div
      class="modal fade"
      id="signupModal"
      tabindex="-1"
      aria-label="Sign Up"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <button class="btn">
                  <a href="https://app.everwash.com/#register/">
                    <h3>Sign Up to be a Member</h3>
                    <p>Get unlimited car washes.</p>
                    <div><i class="fal fa-long-arrow-right"></i></div>
                  </a>
                </button>
              </div>
              <div class="col-lg-6">
                <button class="btn">
                  <a href="wash-owners/sales.html">
                    <h3>Become a Partner</h3>
                    <p>Boost your car wash revenue.</p>
                    <div><i class="fal fa-long-arrow-right"></i></div>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <main id="jobFormMain">
      <section id="jobFormHeading">
        <div class="container">
          <h1>Apply for<br /><span>React Native Developer</span></h1>
          <div id="jobSubheading">
            <span><i class="fas fa-clock"></i> Full-Time</span>
            <span><i class="fas fa-map-marker-alt"></i> Remote</span>
          </div>
        </div>
      </section>
      <section id="jobFormBody">
        <div class="container">
          <form action="">
            <div id="jobFormInfo">
              <h2>Personal Information</h2>
              <label for="name">Full Name</label>
              <input type="text" id="name" />
              <label for="email">Email</label>
              <input type="email" id="email" />
              <label for="phone">Phone</label>
              <input
                type="tel"
                id="phone"
                pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
              />
              <label for="">Resume/CV*</label>
              <div class="uploadDocContainer" id="uploadResumeContainer">
                <label>
                  <input
                    type="file"
                    document-type="resume"
                    style="display: none"
                    id="uploadResumeInput"
                  />
                  Attach
                </label>
                <p>&nbsp;or&nbsp;</p>
                <label>
                  <input
                    type="text"
                    style="display: none"
                    id="pasteResumeInput"
                  />
                  <button
                    data-label="toggle-visibility"
                    data-target="resumeTextArea"
                    type="button"
                  >
                    Paste
                  </button>
                </label>
                <textarea id="resumeTextArea" cols="80" rows="10"></textarea>
              </div>

              <div id="resumeFileContainer" class="file-container">
                <span id="resumeFileName"></span>
                <button
                  type="button"
                  id="deleteResume"
                  data-target="uploadResumeInput"
                  data-label="delete-file"
                >
                  <i class="fas fa-times-circle"></i>
                </button>
              </div>

              <label for="">Cover Letter</label>
              <div class="uploadDocContainer" id="uploadCoverLetterContainer">
                <label>
                  <input
                    type="file"
                    style="display: none"
                    document-type="coverLetter"
                    id="uploadCoverLetterInput"
                  />
                  Attach
                </label>
                <p>&nbsp;or&nbsp;</p>
                <label>
                  <input
                    type="text"
                    style="display: none"
                    id="coverLetterInput"
                  />
                  <button
                    data-label="toggle-visibility"
                    data-target="coverLetterTextArea"
                    type="button"
                  >
                    Paste
                  </button>
                </label>
                <textarea
                  id="coverLetterTextArea"
                  cols="80"
                  rows="10"
                ></textarea>
              </div>
              <div id="coverLetterFileContainer" class="file-container">
                <span id="coverLetterFileName"></span>
                <button
                  type="button"
                  id="deletecoverLetter"
                  data-target="uploadCoverLetterInput"
                  data-label="delete-file"
                >
                  <i class="fas fa-times-circle"></i>
                </button>
              </div>
            </div>
            <hr />
            <div id="jobFormExperience">
              <h2>Experience</h2>
              <div class="job-experience-container">
                <label>Company Name<input type="text" /></label>

                <label>Job Title<input type="text" /></label>

                <label>Start Date (MM/YYYY)</label>
                <div class="dateInputContainer">
                  <input type="Number" />
                  <input type="Number" />
                </div>
                <label>End Date (MM/YYYY)</label>
                <div class="dateInputContainer">
                  <input type="Number" />
                  <input type="Number" />

                  <label class="current-job-label"
                    ><input type="checkbox" />Current</label
                  >
                </div>
              </div>
            </div>
            <button class="add-input" id="addJobEntry" type="button">
              + Add Another Job Experience
            </button>
            <hr />
            <div id="jobFormEducation">
              <h2>Education</h2>
              <div class="job-experience-container">
                <label>School<input type="text" /></label>

                <label
                  >Degree<select>
                    <option value="" disabled selected>
                      Select your degree
                    </option>
                    <option value="highschool-degree">High School</option>
                    <option value="associates-degree">
                      Associate's Degree
                    </option>
                    <option value="bachelors-degree">Bachelor's Degree</option>
                    <option value="masters-degree">Master's Degree</option>
                    <option value="phd">Doctor of Philosophy (Ph.D.)</option>
                    <option value="other">Other</option>
                  </select></label
                >
                <label>Discipline <input type="text" /></label>
              </div>
            </div>
            <button class="add-input" id="addEducationEntry" type="button">
              + Add Another Education
            </button>
            <hr />
            <div id="jobFormWebsites">
              <h2>Websites (Optional)</h2>
              <label for="linkedInUrl">LinkedIn Url</label>
              <input type="text" id="linkedInUrl" />
              <label for="githubUrl">Github Url</label>
              <input type="text" id="githubUrl" />
              <label for="portfolioUrl">Portfolio Url</label>
              <input type="text" id="portfolioUrl" />
              <label for="otherUrl">Other Websites</label>
              <input type="text" id="otherUrl" />
            </div>
            <button class="btn btn-blue">Submit Application</button>
          </form>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="row d-c" id="footerAppStore">
          <div class="col-lg-5 d-c">
            <img
              src="/img/EverWash_Logo_White.png"
              alt="EverWash logo"
              class="img-fluid img-footer"
            />
          </div>
          <div class="col-lg d-c">
            <div class="row">
              <div class="col-sm-6 d-c">
                <a
                  href="https://apps.apple.com/us/app/everwash/id962949509?itsct=apps_box_badge&amp;itscg=30200"
                  style="
                    display: inline-block;
                    border-radius: 13px;
                    width: 160px;
                    height: 83px;
                  "
                  ><img
                    src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1427500800&h=156920f74ce14a0d9f20433eed2d3a44"
                    alt="Download on the App Store"
                    style="border-radius: 13px; width: 160px; height: 83px"
                /></a>
              </div>
              <div class="col-sm-6 d-c">
                <a
                  href="https://play.google.com/store/apps/details?id=com.everwash.carclub&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
                  ><img
                    alt="Get it on Google Play"
                    style="border-radius: 13px; width: auto; height: 78px"
                    src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="footerLinks">
          <div class="col-lg col-md-6 col-6">
            <ul>
              <p>Members</p>
              <li><a href="/members.html">Become a Member</a></li>
            </ul>
          </div>
          <div class="col-lg col-md-6 col-6">
            <ul>
              <p>Wash Partners</p>
              <li><a href="/wash-owners/white-paper.html">White Paper</a></li>
              <li><a href="/wash-owners/case-study.html">Case Study</a></li>
              <li>
                <a href="/wash-owners/revenue-calculator.html"
                  >Revenue Calculator</a
                >
              </li>
              <li>
                <a href="/wash-owners/wash-analytics.html">Wash Analytics</a>
              </li>
              <li><a href="/wash-owners/sales.html">Contact Sales</a></li>
            </ul>
          </div>
          <div class="col-lg col-md-6 col-sm-6">
            <ul>
              <p>Distributors</p>
              <li>
                <a href="/distributors.html">Become a Distributor</a>
              </li>
            </ul>
          </div>
          <div class="col-lg col-md-6 col-6">
            <ul>
              <p>Company</p>
              <li><a href="/about.html">About Us</a></li>
              <li>
                <a href="http://newsroom.morewashprofits.com/" target="_blank"
                  >Newsroom</a
                >
              </li>
              <!-- <li><a href="careers.html">Careers</a></li> -->
            </ul>
          </div>
          <div class="col-lg col-md-6 col-6">
            <ul>
              <p>Help &amp; Support</p>
              <li><a href="/support.html">Visit Help Center</a></li>
            </ul>
          </div>
        </div>
        <div class="row d-c" id="footerBottom">
          <div class="col-lg">
            <p>
              Copyright &copy;
              <script type="text/javascript">
                document.write(new Date().getFullYear());
              </script>
              EverWash&trade;
            </p>
          </div>
          <div class="col-lg">
            <a href="https://www.facebook.com/EverWash" target="_blank"
              ><i
                class="fab fa-facebook-f"
                aria-hidden="true"
                title="Visit EverWash's Facebook"
              ></i
              ><span class="sr-only">Visit EverWash's Facebook</span></a
            >
            <a href="https://twitter.com/EverWash" target="_blank"
              ><i
                class="fab fa-twitter"
                aria-hidden="true"
                title="Visit EverWash's Twitter"
              ></i
              ><span class="sr-only">Visit EverWash's Twitter</span></a
            >
            <a href="https://www.instagram.com/everwashcc/" target="_blank"
              ><i
                class="fab fa-instagram"
                aria-hidden="true"
                title="Visit EverWash's Instagram"
              ></i
              ><span class="sr-only">Visit EverWash's Instagram</span></a
            >
            <a href="https://www.linkedin.com/company/everwash/" target="_blank"
              ><i
                class="fab fa-linkedin"
                aria-hidden="true"
                title="Visit EverWash's LinkedIn"
              ></i
              ><span class="sr-only">Visit EverWash's LinkedIn</span></a
            >
            <a
              href="https://www.youtube.com/channel/UCv3ZMElXRnResR_Dv9dd1GA"
              target="_blank"
              ><i
                class="fab fa-youtube"
                aria-hidden="true"
                title="Visit EverWash's Youtube"
              ></i
              ><span class="sr-only">Visit EverWash's Youtube</span></a
            >
          </div>
          <div class="col-lg">
            <a href="/terms-and-conditions.html">Terms &amp; Conditions</a>
            <a href="/privacy-policy.html">Privacy</a>
            <a href="/sitemap.html">Site Map</a>
            <!-- <a href="accessibility.html">Accessibility</a> -->
          </div>
        </div>
      </div>
    </footer>
    <!-- CDN -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/52cc99a7a6.js"
      crossorigin="anonymous"
    ></script>
    <!-- JS Dir -->
    <script src="./js/main.js"></script>
    <script src="./js/job-form.js"></script>
    <!-- WebSights Tracking -->
    <noscript>
      <img
        src="https://ws.zoominfo.com/pixel/62277ad0063474001ab2a78d"
        width="1"
        height="1"
        style="display: none"
      />
    </noscript>
  </body>
</html>
