<!-- Nav Bar -->
<header>
  <nav
    class="navbar navbar-expand-lg navbar-light distributor-navbar"
    id="navbar"
  >
    <div class="container-fluid">
      <a href="/index" class="navbar-brand">
        <img
          src="/img/logos/EverWash_HorizontalLogo_RGB_Navy.png"
          alt="Everwash Logo"
          class="img-fluid img-nav"
        />
      </a>
      <div class="compressed-btn-group">
        <a href="" class="btn btn-accent-rebrand">Schedule a Demo</a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="toggle navigation"
      >
        <div id="nav-icon3">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul id="navList" class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/members">Members</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Wash Owners</a
            >
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/wash-owners.html"
                >Why EverWash?</a
              >
              <a class="dropdown-item" href="/wash-owners/membership.html"
                >Membership</a
              >
              <a class="dropdown-item" href="/wash-owners/analytics.html"
                >Analytics</a
              >
              <a class="dropdown-item" href="/wash-owners/branding.html"
                >Marketing &amp; Ads</a
              >
              <a class="dropdown-item" href="/wash-owners/websites.html"
                >Websites</a
              >
              <a class="dropdown-item" href="/wash-owners/intelligence.html"
                >Intelligence</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Distributors</a
            >
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/distributors/cryptopay/"
                >Cryptopay</a
              >
              <a class="dropdown-item" href="/distributors">View All</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Company</a
            >
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/about">About Us</a>
              <a class="dropdown-item" href="/newsroom">Newsroom</a>
              <a class="dropdown-item" href="/blog">Blog</a>
              <a class="dropdown-item" href="/careers">Careers</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support">Help &amp; Support</a>
          </li>
        </ul>
        <div class="d-flex">
          <a href="/wash-owners/sales" class="btn btn-accent-rebrand"
            >Schedule a Demo</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
