<div class="row distributor-group">
  <div class="col-lg col-md col-xs partnerLogo changing-img l1" id="ncsLogo">
    <img
      src="/img/logos/ncs-thumnail.jpg"
      alt="NCS Vehicle Care logo"
      class="img-fluid"
    />
  </div>
  <div
    class="col-lg col-md col-xs partnerLogo changing-img l2"
    id="kleenrightLogo"
  >
    <div>
      <img
        src="/img/logos/kleenrite-thumbnail.jpg"
        alt="Kleen-Rite logo"
        class="img-fluid"
      />
    </div>
  </div>
  <div
    class="col-lg col-md col-xs partnerLogo changing-img l3"
    id="icaChampionsLogo"
  >
    <div>
      <img
        src="/img/logos/champions.png"
        alt="ICA Champions Council logo"
        class="img-fluid"
      />
    </div>
  </div>
  <div
    class="col-lg col-md col-xs partnerLogo changing-img l5"
    id="philadelphiaUnionLogo"
  >
    <div>
      <img
        src="/img/logos/philadelphia-union-logo.png"
        alt="Philadelphia Union logo"
        class="img-fluid"
      />
    </div>
  </div>
  <div
    class="col-lg col-md col-xs partnerLogo changing-img l5"
    id="cryptopayLogo"
  >
    <div>
      <img
        src="/img/logos/cryptopay-thumbnail.jpg"
        alt="Cryptopay logo"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="col-lg col-md col-xs partnerLogo changing-img l1" id="ncsLogo">
    <img
      src="/img/logos/ncs-thumnail.jpg"
      alt="NCS Vehicle Care logo"
      class="img-fluid"
    />
  </div>
  <div
    class="col-lg col-md col-xs partnerLogo changing-img l2"
    id="kleenrightLogo"
  >
    <div>
      <img
        src="/img/logos/kleenrite-thumbnail.jpg"
        alt="Kleen-Rite logo"
        class="img-fluid"
      />
    </div>
  </div>
  <div
    class="col-lg col-md col-xs partnerLogo changing-img l3"
    id="icaChampionsLogo"
  >
    <div>
      <img
        src="/img/logos/champions.png"
        alt="ICA Champions Council logo"
        class="img-fluid"
      />
    </div>
  </div>
  <div
    class="col-lg col-md col-xs partnerLogo changing-img l5"
    id="philadelphiaUnionLogo"
  >
    <div>
      <img
        src="/img/logos/philadelphia-union-logo.png"
        alt="Philadelphia Union logo"
        class="img-fluid"
      />
    </div>
  </div>
  <div
    class="col-lg col-md col-xs partnerLogo changing-img l5"
    id="crytopayLogo"
  >
    <div>
      <img
        src="/img/logos/cryptopay-thumbnail.jpg"
        alt="Cryptopay logo"
        class="img-fluid"
      />
    </div>
  </div>
</div>
