<!-- Footer -->
<footer>
  <div class="container">
    <div class="row d-c" id="footerAppStore">
      <div class="col-lg-5 d-c">
        <img src="/img/logos/EverWash_HorizontalLogo_RGB_White.png" alt="EverWash logo" class="img-fluid img-footer"/>
      </div>
      <div class="col-lg d-c">
        <div class="row">
          <div class="col-sm-6 d-c">
            <a
              href="https://apps.apple.com/us/app/everwash/id962949509?itsct=apps_box_badge&amp;itscg=30200"
              style=" display: inline-block; border-radius: 13px; width: 160px; height: 83px; "><img
                src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1427500800&h=156920f74ce14a0d9f20433eed2d3a44"
                alt="Download on the App Store"
                style="border-radius: 13px; width: 160px; height: 83px"/>
            </a>
          </div>
          <div class="col-sm-6 d-c">
            <a href="https://play.google.com/store/apps/details?id=com.everwash.carclub&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img
                alt="Get it on Google Play"
                style="border-radius: 13px; width: auto; height: 78px"
                src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"/>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="footerLinks">
      <div class="col-lg col-md-6 col-6">
        <ul>
          <p>Members</p>
          <li>
            <a href="/members">Become a Member</a>
          </li>
          <li>
            <a href="https://app.everwash.com/?_gl=1*1imjo23*_gcl_au*NDIzMjExNjA4LjE3MjUwNDI3MzU.*_ga*MTc2ODQ3NTY1OS4xNzI1MDQyNzM1*_ga_VG18BKSM4Y*MTcyNTA0NzY5Ni4zLjEuMTcyNTA0ODA5My4wLjAuMA..#login">Log In</a>
          </li>
          <li>
            <a href="https://app.everwash.com/?_gl=1*1xqmq46*_gcl_au*NDIzMjExNjA4LjE3MjUwNDI3MzU.*_ga*MTc2ODQ3NTY1OS4xNzI1MDQyNzM1*_ga_VG18BKSM4Y*MTcyNTA0NzY5Ni4zLjEuMTcyNTA0ODIwOC4wLjAuMA..#register/">Sign Up</a>
          </li>
        </ul>
      </div>
      <div class="col-lg col-md-6 col-6">
        <ul>
          <p>Wash Owners</p>
          {# <li>
            <a href="/wash-owners/white-paper">White Paper</a>
          </li> #}
          <li>
            <a href="/wash-owners">For Car Washes</a>
          </li>
          <li>
            <a href="/wash-owners/case-study">Case Study</a>
          </li>
          <li>
            <a href="/revenue-calculator">Revenue Calculator</a>
          </li>
          <li>
            <a href="/wash-owners/wash-analytics">Wash Analytics</a>
          </li>
          <li>
            <a href="/wash-owners/sales">Contact Sales</a>
          </li>
          <li>
            <a href="/testimonials">Testimonials</a>
          </li>
          <li>
            <a href="/everwash-assist">EverWash Assist</a>
          </li>
        </ul>
      </div>
      <div class="col-lg col-md-6 col-sm-6">
        <ul>
          <p>Partners</p>
          <li>
            <a href="/partners">Partner With EverWash</a>
          </li>
          <li>
            <a href="/distributors/cryptopay">CryptoPay</a>
          </li>
          <li>
            <a href="https://dashboard.everwash.com/?_gl=1*16nm3i1*_gcl_au*NDIzMjExNjA4LjE3MjUwNDI3MzU.*_ga*MTc2ODQ3NTY1OS4xNzI1MDQyNzM1*_ga_VG18BKSM4Y*MTcyNTA0NzY5Ni4zLjEuMTcyNTA0ODIwOC4wLjAuMA..">Log In</a>
          </li>
          <li>
            <a href="/wash-owners/sales">Sign Up</a>
          </li>
        </ul>
      </div>
      <div class="col-lg col-md-6 col-6">
        <ul>
          <p>Company</p>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/newsroom">Newsroom</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/careers">Careers</a>
          </li>
        </ul>
      </div>
      <div class="col-lg col-md-6 col-6">
        <ul>
          <p>Help &amp; Support</p>
          <li>
            <a href="/support">Visit Help Center</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row d-c" id="footerBottom">
      <div class="col-lg">
        <p>
          Copyright &copy;
          <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script>
          EverWash&trade;
        </p>
      </div>
      <div class="col-lg">
        <a href="https://www.youtube.com/channel/UCv3ZMElXRnResR_Dv9dd1GA" target="_blank">
          <i class="fa fa-youtube-play" aria-hidden="true" title="Visit EverWash's Youtube"></i>
          <span class="sr-only">Visit EverWash's Youtube</span>
        </a>
        <a href="https://www.facebook.com/everwashforbusiness" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true" title="Visit EverWash's Facebook"></i>
          <span class="sr-only">Visit EverWash's Facebook</span>
        </a>
        <a href="https://www.instagram.com/everwashforbiz/" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true" title="Visit EverWash's Instagram"></i>
          <span class="sr-only">Visit EverWash's Instagram</span>
        </a>
        <a href="https://www.linkedin.com/company/everwash/" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true" title="Visit EverWash's LinkedIn"></i>
          <span class="sr-only">Visit EverWash's LinkedIn</span>
        </a>
        {# <a href="https://twitter.com/EverWash" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true" title="Visit EverWash's Twitter"></i>
          <span class="sr-only">Visit EverWash's Twitter</span>
        </a> #}
      </div>
      <div class="col-lg">
        <a href="/terms-and-conditions">Terms &amp; Conditions</a>
        <a href="/privacy-policy">Privacy</a>
        <a href="/sitemap">Site Map</a>
        <!-- <a href="accessibility">Accessibility</a> -->
      </div>
    </div>
  </div>
</footer>