<!-- Nav Bar -->
<header>
  <nav class="navbar navbar-expand-xl navbar-light" id="navbar">
    <div class="container-fluid">
      <a href="/index" class="navbar-brand">
        <img
          src="/img/logos/EverWash_HorizontalLogo_RGB_Navy.png"
          alt="Everwash Logo"
          class="img-fluid img-nav"
        />
      </a>
      <div class="compressed-btn-group">
        <button
          class="btn"
          type="button"
          data-toggle="modal"
          data-target="#loginModal"
        >
          Log In
        </button>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#signupModal"
        >
          Sign Up
        </button>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="toggle navigation"
      >
        <div id="nav-icon3">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul id="navList" class="navbar-nav mx-auto" style="margin-right:0 !important;">
          <li class="nav-item">
            <a class="nav-link" href="/wash-owners#partnerCalc">REVENUE CALCULATOR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wash-owners/case-study">CASE STUDY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimonials">TESTIMONIALS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newsroom">NEWSROOM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">LOG IN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal">SIGN UP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support">SUPPORT</a>
          </li>
        </ul>
        <button class="btn navy-btn" type="button" data-toggle="modal" data-target="#bookacallFormModal">
          Book A Call
        </button>
      </div>
    </div>
  </nav>
  <!-- Login -->
  <div
    class="modal fade"
    id="loginModal"
    tabindex="-1"
    aria-label="Log In"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">
              <i class="fal fa-times"></i>
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <button class="btn">
                <a href="https://app.everwash.com/#login" target="_blank">
                  <img
                    src="/img/illustrations/car-wash-scene-5.png"
                    alt="Dirty car with dirt"
                    class="img-fluid"
                  />

                  <h3>Member Login<i class="fas fa-arrow-right"></i></h3>
                  <p>Manage your unlimited car wash membership account.</p>
                </a>
              </button>
            </div>
            <div class="col-lg-6">
              <button class="btn">
                <a href="https://dashboard.everwash.com/" target="_blank">
                  <img
                    src="/img/illustrations/car-wash-scene-4.png"
                    alt="Car wash operator"
                    class="img-fluid"
                  />
                  <h3>Partner Login<i class="fas fa-arrow-right"></i></h3>
                  <p>Manage your car wash business account.</p>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sign Up -->
  <div
    class="modal fade"
    id="signupModal"
    tabindex="-1"
    aria-label="Sign Up"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">
              <i class="fal fa-times"></i>
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <button class="btn">
                <a href="https://app.everwash.com/#register/" target="_blank">
                  <img
                    src="/img/illustrations/car-wash-scene-5.png"
                    alt="Dirty car with dirt"
                    class="img-fluid"
                  />
                  <h3>
                    Sign up to be a Member<i class="fas fa-arrow-right"></i>
                  </h3>
                  <p>Get unlimited car washes.</p>
                </a>
              </button>
            </div>
            <div class="col-lg-6">
              <button class="btn">
                <a href="/wash-owners/sales">
                  <img
                    src="/img/illustrations/car-wash-scene-4.png"
                    alt="Car wash operator"
                    class="img-fluid"
                  />
                  <h3>Become a Partner<i class="fas fa-arrow-right"></i></h3>
                  <p>Boost your car wash revenue.</p>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Book A Call Sales Lead Form -->
  <div class="modal fade" id="bookacallFormModal" tabindex="-1" aria-labelledby="Contact Us" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row" id="contactSalesForm">
            <div class="col-lg-5">
              <h2>Get in Touch with Sales</h2>
              <p>EverWash’s platform is designed to help you succeed by:</p>
              <ul>
                <li>Reducing customer wait times</li>
                <li>Improving customer loyalty</li>
                <li>Growing your membership base</li>
                <li>Marketing to your customers on your behalf</li>
                <li>Giving you peace of mind</li>
              </ul>
              <p>Fill out the form or contact us directly and our team will get back to you within 24 hours.</p>
              <div>
                <p>
                  <a href="mailto:sales@everwash.com">
                    <span>sales@everwash.com</span>
                  </a>
                </p>
                <p>
                  <a href="tel:8554927477">
                    <span>(855)-492-7477</span>
                  </a>
                </p>
              </div>
            </div>
            <div class="col-lg-7">
              <div id="omnixModalHeader">
                <div class="header-content">
                  <button type="button" class="close d-none d-lg-block" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                      <i class="fal fa-times"></i>
                    </span>
                  </button>
                </div>
              </div>
              <div id="standard-form">
                <img src="/img/illustrations/car-wash-scene-2.png" alt="Activating unlimited car washes with an app" class="img-fluid"/>
                <h5>Excel at Membership with EverWash</h5>
                <p>
                  Talk to a membership professional about how the EverWash platform can increase the overall profitability of your wash
                </p>
                <form
                  style="display: none;" 
                  id="bookacallPopup"
                  name="Book A Call New Form"
                  method="POST"
                  action="/bookacall-success.html"
                  data-netlify="true" 
                  data-netlify-honeypot="bot-field">
                  <input type="hidden" name="Subject" data-email-subject="emailSubject" value="Book A Call New Form Submission"/>
                  <input type="hidden" name="formName" value="Book A Call New Form" aria-hidden="true"/>
                  {% include 'wash-owner-form-popup.njk' %}
                </form>
                <form id="bookacallPopup-external" action="https://go.everwash.com/l/996891/2024-08-02/2lzf5" method="POST">
                  {% include 'wash-owner-form-popup-php.njk' %}
                </form>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>