<!-- Nav Bar -->
<header>
  <nav class="navbar navbar-expand-xl navbar-light" id="navbar">
    <div class="container-fluid">
      <a href="/index" class="navbar-brand">
        <img
          src="/img/logos/EverWash_HorizontalLogo_RGB_Navy.png"
          alt="Everwash Logo"
          class="img-fluid img-nav"
        />
      </a>
      <div class="compressed-btn-group">
        <button
          class="btn"
          type="button"
          data-toggle="modal"
          data-target="#loginModal"
        >
          Log In
        </button>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#signupModal"
        >
          Sign Up
        </button>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="toggle navigation"
      >
        <div id="nav-icon3">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul id="navList" class="navbar-nav mx-auto" style="margin-right:0 !important;">
          <li class="nav-item">
            <a class="nav-link" href="/wash-owners#partnerCalc-new">REVENUE CALCULATOR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wash-owners/case-study">CASE STUDY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wash-owners#partnerReviews-new">TESTIMONIALS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newsroom">NEWSROOM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">LOG IN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal">SIGN UP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support">SUPPORT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Login -->
  <div
    class="modal fade"
    id="loginModal"
    tabindex="-1"
    aria-label="Log In"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">
              <i class="fal fa-times"></i>
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <button class="btn">
                <a href="https://app.everwash.com/#login" target="_blank">
                  <img
                    src="/img/illustrations/car-wash-scene-5.png"
                    alt="Dirty car with dirt"
                    class="img-fluid"
                  />

                  <h3>Member Login<i class="fas fa-arrow-right"></i></h3>
                  <p>Manage your unlimited car wash membership account.</p>
                </a>
              </button>
            </div>
            <div class="col-lg-6">
              <button class="btn">
                <a href="https://dashboard.everwash.com/" target="_blank">
                  <img
                    src="/img/illustrations/car-wash-scene-4.png"
                    alt="Car wash operator"
                    class="img-fluid"
                  />
                  <h3>Partner Login<i class="fas fa-arrow-right"></i></h3>
                  <p>Manage your car wash business account.</p>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sign Up -->
  <div
    class="modal fade"
    id="signupModal"
    tabindex="-1"
    aria-label="Sign Up"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">
              <i class="fal fa-times"></i>
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <button class="btn">
                <a href="https://app.everwash.com/#register/" target="_blank">
                  <img
                    src="/img/illustrations/car-wash-scene-5.png"
                    alt="Dirty car with dirt"
                    class="img-fluid"
                  />
                  <h3>
                    Sign up to be a Member<i class="fas fa-arrow-right"></i>
                  </h3>
                  <p>Get unlimited car washes.</p>
                </a>
              </button>
            </div>
            <div class="col-lg-6">
              <button class="btn">
                <a href="/wash-owners/sales">
                  <img
                    src="/img/illustrations/car-wash-scene-4.png"
                    alt="Car wash operator"
                    class="img-fluid"
                  />
                  <h3>Become a Partner<i class="fas fa-arrow-right"></i></h3>
                  <p>Boost your car wash revenue.</p>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
