<!-- Nav Bar -->
<header>
  <nav class="navbar navbar-expand-xl navbar-light" id="navbar">
    <div class="container-fluid washOwner">
      <a href="/index" class="navbar-brand">
        <img
          src="/img/logos/EverWash_HorizontalLogo_RGB_Navy.png"
          alt="Everwash Logo"
          class="img-fluid img-nav"
        />
      </a>
      <div class="socialicons-btn">
        <p class="social-icons">
          <a class="youtube" href="https://www.youtube.com/channel/UCv3ZMElXRnResR_Dv9dd1GA" target="_blank">
            <i class="fa fa-youtube-play" aria-hidden="true" title="Visit EverWash's Youtube"></i>
            <span class="sr-only">Visit EverWash's Youtube</span>
          </a>
          <a class="facebook" href="https://www.facebook.com/everwashforbusiness" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true" title="Visit EverWash's Facebook"></i>
            <span class="sr-only">Visit EverWash's Facebook</span>
          </a>
          <a class="instagram" href="https://www.instagram.com/everwashforbiz/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true" title="Visit EverWash's Instagram"></i>
            <span class="sr-only">Visit EverWash's Instagram</span>
          </a>
          <a class="linkedin" href="https://www.linkedin.com/company/everwash/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true" title="Visit EverWash's LinkedIn"></i>
            <span class="sr-only">Visit EverWash's LinkedIn</span>
          </a>
          {# <a href="https://twitter.com/EverWash" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true" title="Visit EverWash's Twitter"></i>
            <span class="sr-only">Visit EverWash's Twitter</span>
          </a> #}
        </p>
        <button class="btn navy-btn" type="button" data-toggle="modal" data-target="#bookacallFormModal">
          Book A Call
        </button>  
      </div>
      </div>
    </div>
  </nav>
</header>


<!-- Book A Call Sales Lead Form -->
  <div class="modal fade" id="bookacallFormModal" tabindex="-1" aria-labelledby="Contact Us" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row" id="contactSalesForm">
            <div class="col-lg-5">
              <h2>Get in Touch with Sales</h2>
              <p>EverWash’s platform is designed to help you succeed by:</p>
              <ul>
                <li>Reducing customer wait times</li>
                <li>Improving customer loyalty</li>
                <li>Growing your membership base</li>
                <li>Marketing to your customers on your behalf</li>
                <li>Giving you peace of mind</li>
              </ul>
              <p>Fill out the form or contact us directly and our team will get back to you within 24 hours.</p>
              <div>
                <p>
                  <a href="mailto:sales@everwash.com">
                    <span>sales@everwash.com</span>
                  </a>
                </p>
                <p>
                  <a href="tel:8554927477">
                    <span>(855)-492-7477</span>
                  </a>
                </p>
              </div>
            </div>
            <div class="col-lg-7">
              <div id="omnixModalHeader">
                <div class="header-content">
                  <button type="button" class="close d-none d-lg-block" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                      <i class="fa fa-times"></i>
                    </span>
                  </button>
                </div>
              </div>
              <div id="standard-form">
                <img src="/img/illustrations/car-wash-scene-2.png" alt="Activating unlimited car washes with an app" class="img-fluid"/>
                <h5>Excel at Membership with EverWash</h5>
                <p>
                  Talk to a membership professional about how the EverWash platform can increase the overall profitability of your wash
                </p>
                <form
                  style="display: none;" 
                  id="bookacallPopup"
                  name="Book A Call New Form"
                  method="POST"
                  action="/bookacall-success.html"
                  data-netlify="true" 
                  data-netlify-honeypot="bot-field">
                  <input type="hidden" name="Subject" data-email-subject="emailSubject" value="Book A Call New Form Submission"/>
                  <input type="hidden" name="formName" value="Book A Call New Form" aria-hidden="true"/>
                  {% include 'wash-owner-form-popup.njk' %}
                </form>
                <form id="bookacallPopup-external" action="https://go.everwash.com/l/996891/2024-08-02/2lzf5" method="POST">
                  {% include 'wash-owner-form-popup-php.njk' %}
                </form>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>