<a
    target="_blank"
    class="job-position"
    href="{{ jobs.data.jobUrl }}">
    <h4 class="position-title">{{ jobs.data.positionTitle }}</h4>
    <p class="position-time">{{ jobs.data.positionTime }}</p>
    <div class="position-location">
    <i class="fas fa-map-marker-alt"></i>
    <p>{{ jobs.data.location }}</p>
    </div>
</a>