<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WQ72BT");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <!-- Primary Meta Tags -->
    <title>{{ title }}</title>
    <meta name="title" content="EverWash - The Better Way to Wash Your Car" />
    <meta
      name="description"
      content="{{ description }}"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.everwash.com/" />
    <meta
      property="og:title"
      content="{{ title }}"
    />
    <meta
      property="og:description"
      content="{{ description }}"
    />
    <meta
      property="og:image"
      content="{{image}}"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.everwash.com/" />
    <meta
      property="twitter:title"
      content="{{ title }}"
    />
    <meta
      property="twitter:description"
      content="{{ description }}"
    />
    <meta
      property="twitter:image"
      content="{{image}}"
    />
    <!-- Prevent Cache Across Browsers -->
      <meta
        http-equiv="Cache-Control"
        content="no-cache, no-store, must-revalidate"
      />
      <meta http-equiv="Pragma" content="no-cache" />
      <meta http-equiv="Expires" content="0" />
    <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#141c52">
      <meta name="msapplication-TileColor" content="#141c52">
      <meta name="theme-color" content="#ffffff">
      {% include 'cdn-css.njk' %}
      <!-- CSS Dir -->
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="/css/calc.css" />
        <link rel="canonical" href="https://www.everwash.com{{page.url}}" />
        <style>
        body{
            margin-top: 0!important;
        }
    </style>
  </head>
  <body>
    <script>
        (function (i, s, o, g, r, a, m) {
          i["GoogleAnalyticsObject"] = r;
          (i[r] =
            i[r] ||
            function () {
              (i[r].q = i[r].q || []).push(arguments);
            }),
            (i[r].l = 1 * new Date());
          (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m);
        })(
          window,
          document,
          "script",
          "https://www.google-analytics.com/analytics.js",
          "ga"
        );

        ga("create", "UA-80110420-1", "auto");
        ga("send", "pageview");
      </script>

      <!-- Google Tag Manager (noscript) -->
      <noscript
        ><iframe
          src="https://www.googletagmanager.com/ns.html?id=GTM-WQ72BT"
          height="0"
          width="0"
          style="display: none; visibility: hidden"
        ></iframe
      ></noscript>
      <!-- End Google Tag Manager (noscript) -->

      {{ content | safe }}

    {% include 'cdn-js.njk' %}
    <!-- JS Dir -->
      <script src="/js/main.js"></script>
      <script src="/js/calc.js"></script>
  </body>
</html>