<!-- FAQ -->
      <section id="partnerFaq">
        <div class="container">
          <h5>Common Questions</h5>
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <!-- Accordion -->
              <div id="faq" class="accordion">
                <!-- Accordion item 1 -->
                <div class="card">
                  <div
                    id="headingOne"
                    class="card-header"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    <h6 class="mb-0">
                      <a
                        href="#"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="false"
                        aria-controls="collapseOne"
                        class="collapsible-link py-2"
                        ><span
                          >Why should all car wash operators consider membership
                          at their locations?</span
                        ></a
                      >
                    </h6>
                  </div>
                  <div
                    id="collapseOne"
                    aria-labelledby="headingOne"
                    data-parent="#faq"
                    class="collapse"
                  >
                    <div class="card-body p-5">
                      <p class="m-0">
                        Every car wash can benefit from a well-managed
                        membership program. Benefits include a stronger and
                        continuous flow of revenue, higher customer lifetime
                        value, more efficient operations, a more engaged
                        workforce, and higher profits. The key to success,
                        however, is that the program must be “well-managed,”
                        encompassing the Total Membership Lifecycle, rather than
                        just a promotional band-aid to a poor-performing
                        operation. While a commitment to a comprehensive
                        membership program can seem overwhelming to an-already
                        busy wash operator, EverWash experts bring the
                        management experience to contribute as a partner to
                        ensure membership success.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Accordion item 2 -->
                <div class="card">
                  <div
                    id="headingTwo"
                    class="card-header"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    <h6 class="mb-0">
                      <a
                        href="#"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                        class="collapsed collapsible-link py-2"
                        >Does EverWash work with all types of car wash models?
                        (Tunnel Express/Self Serve/Full Service/Flex etc.)?</a
                      >
                    </h6>
                  </div>
                  <div
                    id="collapseTwo"
                    aria-labelledby="headingTwo"
                    data-parent="#faq"
                    class="collapse"
                  >
                    <div class="card-body p-5">
                      <p class="m-0">
                        EverWash’s membership programs are custom-fit to grow
                        recurring revenue for any type of wash – tunnel express,
                        full-service, in-bay automatic, or self-serve. Whether a
                        wash has a current membership program, an
                        under-performing one, or no program at all, EverWash is
                        the answer.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Accordion item 3 -->
                <div class="card">
                  <div
                    id="headingThree"
                    class="card-header"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="
                    collapseThree"
                  >
                    <h6 class="mb-0">
                      <a
                        href="#"
                        data-toggle="collapse"
                        data-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                        class="collapsed collapsible-link py-2"
                        >What additional benefits does EverWash offer to wash
                        partners once they’ve signed up?</a
                      >
                    </h6>
                  </div>
                  <div
                    id="collapseThree"
                    aria-labelledby="headingThree"
                    data-parent="#faq"
                    class="collapse"
                  >
                    <div class="card-body p-5">
                      <p class="m-0">
                        EverWash is the only provider that delivers Total
                        Membership Lifetime experience for wash owners. It
                        brings together…
                      </p>
                      <ul>
                        <li>Mobile and web technology</li>
                        <li>Wash signage</li>
                        <li>Sales training</li>
                        <li>Site optimization</li>
                        <li>Market intelligence</li>
                        <li>National market channels partners</li>
                        <li>Smart marketing</li>
                      </ul>
                      <p>
                        We build your brand, increase membership sales, reduce
                        churn, and drive up the lifetime value of members.
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Accordion item 4 -->
                <div class="card">
                  <div
                    id="headingFour"
                    class="card-header"
                    data-toggle="collapse"
                    data-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="
                    collapseFour"
                  >
                    <h6 class="mb-0">
                      <a
                        href="#"
                        data-toggle="collapse"
                        data-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                        class="collapsed collapsible-link py-2"
                        >How does EverWash market to customers outside of the
                        car wash to increase traffic to partner locations?</a
                      >
                    </h6>
                  </div>
                  <div
                    id="collapseFour"
                    aria-labelledby="headingFour"
                    data-parent="#faq"
                    class="collapse"
                  >
                    <div class="card-body p-5">
                      <p class="m-0">
                        EverWash is the leader in wash marketing to consumers.
                        Our proprietary partnerships with organizations and
                        companies that offer employee, subscriber, group
                        benefits, retail, and reward programs reach more
                        potential customers and deliver more members to your
                        wash. Some of the national brands and organizations who
                        have partnered with EverWash include T-Mobile, Capital
                        One, Autocare Network, AutoLink, Amazon, UPS, SiriusXM,
                        Reef, and AAA.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>