---
    title: 50% Off First Month | Car Wash Express
    Description: Experience the ultimate car wash with Car Wash Express and enjoy a limited time offer of 50% off on our premium membership.
    layout: 'affiliate-base-2.njk'
    permalink: "{{ page.filePathStem }}.html" 
---

<!-- Need to add affiliate sheet to base -->
<link rel="stylesheet" type="text/css" href="/css/affiliates.css" />
<link rel="stylesheet" type="text/css" href="/css/accordion.css" />
<main id="cwExpressMain" class="geo-promo-page">
  <!-- Hero -->
  <section id="geo-promo-hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1>Car Wash Express</h1>
          <h2>
            Unlimited <span>Car Washes</span>.<br />One Low Monthly Price.
          </h2>
          <p>Located at: 468 U.S. 9, Bayville, NJ 08721</p>
        </div>
        <div class="col-lg-4">
          <img
            src="/img/car-wash-express-logo.jpeg"
            alt="Car Wash Express logo"
            class="img-fluid geo-promo-brand-logo"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- Membership Plan Section -->
  <section id="geo-promo-plans">
    <div class="container">
      <div class="row geo-promo-card">
        <div class="col-lg-12">
          <h2>Online Only!</h2>
          <h3>
            First month for only $5 - Limited Time Offer
          </h3>
          <p>
            Wash your car once daily for an entire month for only $5! Listed price includes
            discount.  Discount is applied automatically at checkout.
          </p>
        </div>
      </div>
      <h2 class="text-white">Select a Plan and <span>Start Washing</span></h2>
      <p class="text-white">Switch plans or cancel anytime.</p>
    </div>
    <div class="container" id="geo-promo-plans-container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="geo-promo-plan">
            <div>
              <h3 class="geo-promo-plan-name">Basic</h3>
              <h4 class="geo-promo-plan-price">
                <span class="full-price">$15.99</span
                ><span class="sale-price">$5.00</span> first month
              </h4>
              <p>$15.99/mo for subsequent months.</p>
              <ul class="list-style-checkmark">
                <li>Exterior Wash</li>
              </ul>
            </div>
            <div>
              <a
                href="https://app.everwash.com/#register/#checkout/4005/blue/GEO5BV"
                class="btn" id="basicBTN"
                >Join Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="geo-promo-plan">
            <div>
              <h3 class="geo-promo-plan-name">Xpress</h3>
              <h4 class="geo-promo-plan-price">
                <span class="full-price">$19.19</span
                ><span class="sale-price">$5.00</span> first month
              </h4>
              <p>$19.19/mo for subsequent months.</p>
              <ul class="list-style-checkmark">
                <li>Exterior Wash</li>
                <li>Towel Dry</li>
              </ul>
            </div>
            <div>
              <a
                href="https://app.everwash.com/#register/#checkout/4006/blue/GEO5BV"
                class="btn" id="xpressBTN"
                >Join Now</a
              >
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="geo-promo-plan">
            <div>
              <h3 class="geo-promo-plan-name">Classic</h3>
              <h4 class="geo-promo-plan-price">
                <span class="full-price">$25.59</span
                ><span class="sale-price">$5.00</span> first month
              </h4>
              <p>$25.59/mo for subsequent months.</p>
              <ul class="list-style-checkmark">
                <li>Undercarriage Wash</li>
                <li>Clear Coat</li>
                <li>High Pressure Rinse</li>
                <li>Exterior Wash</li>
                <li>Towel Dry</li>
              </ul>
            </div>
            <div>
              <a
                href="https://app.everwash.com/#register/#checkout/4009/blue/GEO5BV"
                class="btn" id="classicBTN"
                >Join Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="geo-promo-plan">
            <div>
              <h3 class="geo-promo-plan-name">Supreme</h3>
              <h4 class="geo-promo-plan-price">
                <span class="full-price">$31.99</span
                ><span class="sale-price">$5.00</span> first month
              </h4>
              <p>$31.99/mo for subsequent months.</p>
              <ul class="list-style-checkmark">
                <li>Triple Foam Polish</li>
                <li>Tire Shine</li>
                <li>Tire &amp; Wheel Cleaner</li>
                <li>Undercarriage Wash</li>
                <li>Clear Coat</li>
                <li>High Pressure Rinse</li>
                <li>Exterior Wash</li>
                <li>Towel Dry</li>
              </ul>
            </div>
            <div>
              <a
                href="https://app.everwash.com/#register/#checkout/4010/blue/GEO5BV"
                class="btn" id="supremeBTN"
                >Join Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="geo-promo-plan">
            <div>
              <h3 class="geo-promo-plan-name">Ultimate</h3>
              <h4 class="geo-promo-plan-price">
                <span class="full-price">$40.52</span
                ><span class="sale-price">$5.00</span> first month
              </h4>
              <p>$40.52/mo for subsequent months.</p>
              <ul class="list-style-checkmark">
                <li>Hot Wax Shine</li>
                <li>Lava Foam</li>
                <li>Rain-X Complete Surface<br />Protectant</li>
                <li>Triple Foam Polish</li>
                <li>Tire Shine</li>
                <li>Tire &amp; Wheel Cleaner</li>
                <li>Undercarriage Wash</li>
                <li>Clear Coat</li>
                <li>High Pressure Rinse</li>
                <li>Exterior Wash</li>
                <li>Towel Dry</li>
              </ul>
            </div>
            <div>
              <a
                href="https://app.everwash.com/#register/#checkout/4011/blue/GEO5BV"
                class="btn" id="ultimateBTN"
                >Join Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- How It Works -->
  <section id="geo-promo-walkthrough">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <h2>How It Works</h2>
          <div class="geo-promo-walkthrough-step">
            <p>01</p>
            <p>Select the wash plan of your choice.</p>
          </div>
          <div class="geo-promo-walkthrough-step">
            <p>02</p>
            <p>Create an EverWash account.</p>
          </div>
          <div class="geo-promo-walkthrough-step">
            <p>03</p>
            <p>Enter your payment details and start washing!</p>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <img
            src="/img/car-wash-express-1.png"
            alt="Car Wash Express"
            class="img-fluid"
          />
        </div>
        <div class="col-lg-12 geo-promo-testimonial">
          <div class="geo-promo-testimonial-rating">
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <p>
            Amazing car wash! Come here weekly and my car and tires are always
            so clean and really shine after the wash! My kids love the lights
            and different colors while driving through! Staff is friendly and
            helpful! Def the best around Ocean County!
          </p>
          <p>– Krista B</p>
        </div>
      </div>
    </div>
  </section>
  <!-- CTA -->
  <section id="geo-promo-cta">
    <div class="container">
      <h3>Squeaky Clean Savings</h3>
      <h2>First month for only $5</h2>
      <p>
        Experience continuous cleanliness without breaking the bank. Limited
        time offer. Online only.
      </p>
      <a href="#geo-promo-plans" class="btn" id="viewPlans">View Plans</a>
    </div>
  </section>
  <!-- FAQ -->
  <section id="geo-promo-faq">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>Frequently Asked Questions</h3>
        </div>
        <div class="col-lg-8">
          <div id="faq" class="accordion accordion-custom">
            <!-- Accordion item 4 -->
            <div class="card">
              <div
                id="headingFour"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                    class="collapsed collapsible-link py-2"
                    >Do I need a promo code?</a
                  >
                </h6>
              </div>
              <div
                id="collapseFour"
                aria-labelledby="headingFour"
                data-parent="#faq"
                class="collapse"
              >
                <div class="card-body p-5">
                  <p class="m-0">
                    50% discount is applied at checkout, no promo code required.
                  </p>
                </div>
              </div>
            </div>
            <!-- Accordion item 9 -->
            <div class="card">
              <div
                id="headingNine"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseNine"
                aria-expanded="false"
                aria-controls="collapseNine"
              >
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseNine"
                    aria-expanded="false"
                    aria-controls="collapseNine"
                    class="collapsed collapsible-link py-2"
                    >What does “Unlimited Use” mean?</a
                  >
                </h6>
              </div>
              <div
                id="collapseNine"
                aria-labelledby="headingNine"
                data-parent="#faq"
                class="collapse"
              >
                <div class="card-body p-5">
                  <p class="m-0">
                    The EverWash Membership is valid for up to one car wash per
                    day, every day the wash is open for the designated vehicle
                    only.
                  </p>
                </div>
              </div>
            </div>

            <!-- Accordion item 10 -->
            <div class="card">
              <div
                id="headingTen"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseTen"
                aria-expanded="false"
                aria-controls="collapseTen"
              >
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseTen"
                    aria-expanded="false"
                    aria-controls="collapseTen"
                    class="collapsed collapsible-link py-2"
                    >Can I wash two or more cars on one membership?</a
                  >
                </h6>
              </div>
              <div
                id="collapseTen"
                aria-labelledby="headingTen"
                data-parent="#faq"
                class="collapse"
              >
                <div class="card-body p-5">
                  <p class="m-0">
                    You can only have a single car per membership. If you would
                    like to update your car information, go to the QR code page
                    and click the button labeled "Edit Car Details".
                  </p>
                </div>
              </div>
            </div>
            <!-- Accordion item 2 -->
            <div class="card">
              <div
                id="headingTwo"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                    class="collapsed collapsible-link py-2"
                    >Can I put my membership on hold?</a
                  >
                </h6>
              </div>
              <div
                id="collapseTwo"
                aria-labelledby="headingTwo"
                data-parent="#faq"
                class="collapse"
              >
                <div class="card-body p-5">
                  <p class="m-0">
                    Sure! You can put your membership on hold by clicking the
                    button that says "Freeze Membership" on your Membership
                    page, or from the account settings page. If you require
                    assistance freezing your membership, please send an email to
                    support@everwash.com or call (215) 618-8808.
                  </p>
                </div>
              </div>
            </div>
            <!-- Accordion item 1 -->
            <div class="card">
              <div
                id="headingOne"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                    class="collapsible-link py-2"
                    >How can I cancel my membership?</a
                  >
                </h6>
              </div>
              <div
                id="collapseOne"
                aria-labelledby="headingOne"
                data-parent="#faq"
                class="collapse"
              >
                <div class="card-body p-5">
                  <p class="m-0">
                    To cancel your membership, visit the Account Settings page
                    and scroll down to the bottom until you see the list of your
                    active memberships. You can click the cancel button to
                    cancel your membership. If you change your mind, you can
                    un-cancel your membership at any time from either the
                    Account Settings page, or the Membership page. The Account
                    Settings page can be reached by clicking the gear icon from
                    the bottom bar on ios devices, and from the left-hand side
                    menu on android.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Business Info -->
  <section id="geo-promo-business-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <section id="direction">
            <div id="map_canvas" class="mr-0"></div>
          </section>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
          <h2>Car Wash Express</h2>
          <div class="geo-promo-info-card">
            <i class="fas fa-map-marker-alt"></i>
            <a
              href="https://goo.gl/maps/ukxoSoB9hikyeAFh9"
              target="_blank"
              class="link-dark"
              ><p>468 U.S. 9<br />Bayville, NJ 08721</p></a
            >
          </div>
          <div class="geo-promo-info-card">
            <i class="fas fa-clock"></i>
            <p>Everyday: 10:00AM–8:00PM</p>
          </div>
          <div class="geo-promo-info-card">
            <i class="fas fa-phone"></i
            ><a href="tel:7322699002" class="link-dark">(732)–269–9002</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
