---
  title: 'EverWash eBook Download'
  description: Download the free EverWash eBook for growing your car wash.
  permalink: "{{ page.filePathStem }}.html"
  image: https://everwash.com/img/everwash-main-meta-img.png
  layout: 'base-noindex.njk'
---

<main
  id="ebookDownloadMain">
  <!-- Hero -->
  <section id="ebookDownload">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <img
            src="/img/ebook-circular-preview.png"
            alt="The cover of the eBook, How to Structure a Customer Journey for Car Wash Growth."
            class="img-fluid"/>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <h1>Thanks for your interest!</h1>
          <p>
            Your download of our eBook, ‘How to Structure a Customer Journey for Car Wash Growth’ is available
            below. <br/><br/>
              Interested in taking your car wash to the next level?
            <a href="/wash-owners/sales.html" class="link-dark">Contact us</a>
            for a demo on how you can leverage EverWash to implement a membership program and grow your car
            wash.
          </p>
          <a class="btn btn-accent" download href="/EverWash-Customer-Journey-eBook-2023.pdf">Download the guide</a>
        </div>
      </div>
    </div>
  </section>
</main>