---
  title: A Letter from the Scotts | EverWash - Delightful wash experiences at every touchpoint
  description: EverWash partners with local car washes to better wash experiences at every touchpoint. Our app helps our customers save money and enjoy their cars.
  permalink: "{{ page.filePathStem }}.html"
  image: https://everwash.com/img/everwash-main-meta-img.png
  layout: 'base.njk'
---
    <main id="letterBody">
      <!-- Partners Navigation -->

      <section id="letterContent">
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <div>
                <a href="../about.html"
                  ><i class="far fa-long-arrow-left"></i> Back</a
                >
              </div>
              <img
                src="../img/scotts.png"
                alt="Scott Caplan and Scott Pashley of EverWash"
                class="img-fluid"
              />
              <h3 class="display-4">
                A Letter From<br />
                Scott Caplan &amp; Scott Pashley
              </h3>
              <p>
                We’re excited to have you visit our EverWash website! Here car
                owners will find the many benefits of an EverWash membership,
                details about the EverWash mobile app, wash locations of our
                participating partner washes, and more! <br /><br />Wash
                partners can learn more about our unique partnership value
                proposition, our extensive services designed to support a wash
                through the membership lifecycle, and see how their peers are
                growing their businesses! <br /><br />We invite wash members and
                wash operators to share both their experiences and ideas so that
                we can continue to be #1 name in car wash membership!<br /><br />
                Thank you for virtually visiting EverWash!<br /><br />
              </p>
              <div id="letterBottom">
                <div>
                  <img
                    src="../img/caplan_signature.png"
                    alt="Scott Caplan Signature"
                    class="img-fluid"
                  />
                  <p>Scott Caplan<br />President</p>
                </div>
                <div>
                  <img
                    src="../img/pashley_signature.png"
                    alt="Scott Pashley Signature"
                    class="img-fluid"
                  />
                  <p>Scott Pashley<br />Chief Revenue Officer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    
