---
  title: Gain Insights and Improve Your Car Wash Business with EverWash Analytics
  description: Track your car wash's performance and gain valuable insights with EverWash's Car Wash Analytics. Monitor key metrics and optimize your operations with our powerful analytics tools.
  permalink: "{{ page.filePathStem }}.html"
  image: https://everwash.com/img/everwash-main-meta-img.png
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---

<main id="b2bAnalyticsMain" class="b2b-subpage">
  <!-- Hero -->
  <section id="b2bAnalyticsHero" class="b2b-subpage-hero-section">
    <div class="container slide-up visible">
      <div class="row">
        <div class="col-lg-7">
          <h1>EverWash Analytics</h1>
          <h2 class="brand-nubolts">Boost the impact of your analytics</h2>
          <p>
            Identify and analyze relevant growth opportunities at the right time
            to add value
          </p>
          {# <a href="/wash-owners/sales.html" class="btn btn-accent"
            >Get Started</a> #}
            <button
            class="btn btn-accent"
            type="button"
            data-toggle="modal"
            data-target="#analyticsModal"
          >
            Learn More
          </button>
        </div>
      </div>
    </div>
  </section>
  <section id="b2bAnalyticsAbout" class="b2b-subpage-list-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <img
            src="/img/illustrations/car-wash-scene-10.png"
            alt="An illustration of a graph with an upward trend and a car."
            class="img-fluid"
          />
        </div>
        <div class="col-lg-8">
          <h2>Easy-to-understand insights:</h2>
          <ul>
            <li>Provide your customers with a warm, feel-good experience</li>
            <li>Make smarter decisions, based on real-time data</li>
            <li>Integrate and tie real-time reporting to car wash activity</li>
            <li>Improve user experience with interactive charts and graphs</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="b2bAnalyticsBenefits" class="b2b-subpage-text-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Deeper customer insights to help employees.</h2>
          <p>
            Keeping customers engaged requires relevant offers. For a truly
            personalized experience, omniX Labs' analytics platform tracks
            customers' interactions at your car and instantly delivers that
            information to your on-site attendants or app.
          </p>
        </div>
        <div class="col-lg-6">
          <img
            src="/img/customer-insights.png"
            alt="A man driving his car with illustrated cutouts of upward trending graphs."
            class="img-fluid"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img
            src="/img/ipad-analytics.png"
            alt="A man using a tablet with ilustrated cutouts of an analytics dashboard and a graph."
            class="img-fluid"
          />
        </div>
        <div class="col-lg-6">
          <h2>Simplify complex processes.</h2>
          <p>
            Our platform helps simplify previously complex processes for car
            wash operators. It helps in adjusting strategy as needed so, wash
            operators can better understand customer behavior and identify
            trends. Additionally, our analytics solution also helps wash
            operators meet customer needs promptly and keeps them coming back.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="b2bAnalyticsCta" class="b2b-subpage-cta-section">
    <div class="container slide-up on-scroll-animation">
      <div class="row">
        <div class="col-lg-12">
          <img
            src="/img/illustrations/car-wash-scene-12.png"
            alt="An illustration of an analytics dashboard with positive graphs."
            class="img-fluid"
          />
          <h2>Reach out. Let us help you unleash the power of your data.</h2>

          {# <a href="/wash-owners/sales.html" class="btn btn-secondary"
            >Get Started</a> #}
            <button
            class="btn btn-accent"
            type="button"
            data-toggle="modal"
            data-target="#analyticsModal">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </section>
  {% include 'analytics-modal.njk' %}
</main>
