---
  title: EverWash Case Study | Boosting Revenue for Car Wash Owners
  description: See how EverWash's technology solutions have helped car wash owners nationwide. Explore our Case Study page to learn about real-world results, such as increased revenue and improved customer satisfaction.
  permalink: "{{ page.filePathStem }}.html"
  image: https://everwash.com/img/everwash-main-meta-img.png
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---

<main id="caseStudyBody">
  {% include 'partner-nav.njk' %}
  <!-- Case Study Hero -->
  <section id="caseStudyHero">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="brand-nubolts">How to Increase Revenue by <br> $500,000</h1>
          <button class="btn btn-accent">
            <a class="text-white" href="../EverWash-Case-Study-2022.pdf" target="_blank">Download Case Study</a>
          </button>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </section>
  <!-- CTA -->
      <section id="caseStudyCTA">
        <div class="container">
          <h2 class="brand-nubolts">Partner with EverWash</h2>
          <p>
            Learn more about the benefits of becoming an EverWash distributor by clicking here.</p>
            <button 
              class="btn btn-accent">
              <a class="text-white" href="../wash-owners/sales.html">Get In Touch</a>
            </button>
        </div>
      </section>
</main>