---
  title: Reduce Membership Cancellations with EverWash Assist
  description: EverWash Assist's strategy focuses on providing resolution-based customer support. We promptly answer your customer calls, then provide professional, friendly assistance.
  permalink: "{{ page.filePathStem }}.html"
  image: https://everwash/img/everwash-main-meta-img.png
  sitemap:
    priority: 0.64
  layout: 'base-noindex.njk'
---

<!-- Start of Confirmation Form Modal -->
<button
  class="btn btn-blue d-none"
  type="button"
  data-toggle="modal"
  data-target="#formConfirmation"
  id="triggerFormConfirmation">
  Learn More</button>
<div class="modal fade partnerModal" id="formConfirmation" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fal fa-times"></i>
        </span>
      </button>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs">
            <i class="fas fa-envelope-open-text"></i>
            <h3>Your form was <br/>successfully submited</h3>
            <p>
              Thanks for your interest! An EverWash representative will be in contact with you shortly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Confirmation Form Modal -->
<main
  id="ewAssistMain" class="b2b-subpage">
  <!-- Hero -->
  <section id="ewAssistHero" class="b2b-subpage-hero-section">
    <div class="container slide-up visible">
      <div class="row d-c">
        <div class="col-lg-12 d-c">
          <img
            src="/img/ew-assist-logo-light.png"
            alt="EverWash Assist Logo"
            title="EverWash Assist"
            class="img-fluid ew-assist-logo"/>
        </div>
        <div
          class="col-lg-9 text-center">
          <!-- <h1>EverWash Assist</h1> -->
          <h1 class="brand-nubolts">
            Reduce Membership Cancellations and Retain Loyal Members
          </h1>
          <p>Keep your Recurring Revenue Strong</p>
          <button class="btn btn-accent" type="button" data-toggle="modal" data-target="#analyticsModal">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- EverWash Assist Overview -->
  <section id="ewAssistAbout" class="b2b-subpage-list-section">
    <div class="container">
      <div class="row d-c">
        <div class="col-lg-8 text-center">
          <h2>
            Say goodbye to missed calls and hello to
            <span class="gradient-text-01 dash-gradient-01">fewer cancellations</span>
          </h2>
          <p class="text-center">
            When it comes to customer service, we’ve got your back.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <img src="/img/happy-customer.png" alt="A happy customer driving a car." class="img-fluid"/>
        </div>
        <div class="col-lg-7">
          <ul>
            <li>Answer your phone calls quickly and professionally.</li>
            <li>Assist members with their membership-related questions.</li>
            <li>Help resolve inquiries and issues in real-time.</li>
            <li>Give members a satisfying experience every time.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Effect of Missed Calls on Cancellations -->
  <section id="ewAssistCancellations">
    <div class="container">
      <h2>Preventing Membership Cancellations</h2>
      <p>
        In the world of car washes, rampant membership cancellations is a cause for concern. Why is that? Unanswered calls are a
        key factor. Research shows that
        <strong>76% of car wash operators fail to answer customer calls</strong>. This frustrates customers, and results in
        <strong>high membership cancellation rates</strong>.
      </p>
      <img
        src="/img/impact-infographic.png"
        alt="A graph showing the impact of unanswered calls on membership cancellation rates. It shows that a high rate of
          unanswered calls leads to low customer satisfaction and high membership cancellations. A low rate of unanswered calls
          leads to high customer satisfaction and low membership cancellations."
        class="img-fluid"/>
    </div>
  </section>
  <!-- Benefits of EverWash Assist -->
  <section id="ewAssistBenefits">
    <div class="container slide-up on-scroll-animation">
      <div class="row">
        <div class="col-lg-6">
          <h2>
            How <br/><span class="brand-nubolts">EverWash Assist</span>
            <span>Helps</span>
          </h2>
          <p>
            EverWash Assist's strategy focuses on providing resolution-based customer support. We promptly answer your customer
            calls, then provide professional, friendly assistance.
          </p>
          <img
            src="/img/call-center-service.png"
            alt="A customer service representative providing assistance over the phone to a man in his car."
            class="img-fluid"/>
        </div>
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-6">
          <div class="benefit-container">
            <div class="benefit-title">
              <div class="icon-container">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.87 80.724" height="35px" width="35px">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #111c4e;
                      }
                    </style>
                  </defs>
                  <path
                    class="cls-1"
                    d="m0,0v74.648h37.053c-1.384-2.289-2.353-4.849-2.811-7.589H7.589V7.589h44.28v34.527c1.216-.212,2.46-.344,3.737-.344,1.317,0,2.6.137,3.852.361V0H0Z"/>
                  <path
                    class="cls-1"
                    d="m16.124,52.414c-1.303-.526-2.785.103-3.312,1.406-.526,1.303.103,2.785,1.406,3.312,1.303.526,2.785-.103,3.312-1.406s-.103-2.785-1.406-3.312Z"/>
                  <rect class="cls-1" x="12.626" y="14.372" width="34.207" height="6.624"/>
                  <path class="cls-1" d="m19.698,39.101v6.624h23.449c1.152-.811,2.384-1.512,3.685-2.089v-4.535h-27.135Z"/>
                  <rect class="cls-1" x="19.698" y="26.737" width="27.135" height="6.624"/>
                  <path class="cls-1" d="m37.543,51.466h-17.845v6.624h14.918c.61-2.39,1.597-4.627,2.926-6.624Z"/>
                  <path
                    class="cls-1"
                    d="m16.124,40.054c-1.303-.526-2.785.103-3.312,1.406-.526,1.303.103,2.786,1.406,3.312,1.303.526,2.785-.103,3.312-1.406.526-1.303-.103-2.786-1.406-3.312Z"/>
                  <path
                    class="cls-1"
                    d="m16.124,27.69c-1.303-.526-2.785.103-3.312,1.406-.526,1.303.103,2.785,1.406,3.312,1.303.526,2.785-.103,3.312-1.406.526-1.303-.103-2.785-1.406-3.312Z"/>
                  <path
                    class="cls-1"
                    d="m55.607,80.724c-9.519,0-17.264-7.745-17.264-17.264s7.745-17.263,17.264-17.263,17.263,7.744,17.263,17.263-7.744,17.264-17.263,17.264Zm0-28.076c-5.962,0-10.813,4.85-10.813,10.812s4.852,10.813,10.813,10.813,10.812-4.852,10.812-10.813-4.85-10.812-10.812-10.812Z"/>
                  <polygon
                    class="cls-1"
                    points="54.325 72.404 46.967 62.385 51.248 59.24 54.115 63.143 59.369 55.264 63.79 58.211 54.325 72.404"/>
                </svg>
              </div>
              <h3>Implementing Retention Scripts</h3>
            </div>
            <p>
              It’s all in what we say and how we say it. We prevent over 24% of membership cancellations. When customers call
              dissatisfied, EverWash Assist's agents use well-crafted retention scripts.
            </p>
          </div>
          <div class="benefit-container">
            <div class="benefit-title">
              <div class="icon-container">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.805 63.603" height="35px" width="35px">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #111c4e;
                      }
                    </style>
                  </defs>
                  <path
                    class="cls-1"
                    d="m70.406,30.085h-3.037c2.711-2.364,4.435-5.833,4.435-9.705,0-7.106-5.781-12.887-12.887-12.887s-12.887,5.781-12.887,12.887c0,3.871,1.724,7.341,4.435,9.705h-.032c2.703,2.562,4.4,6.176,4.4,10.186v14.454h22.971v-17.242c0-4.079-3.319-7.398-7.399-7.398Zm-4.601-6.66c-1.486,2.239-3.997,3.523-6.888,3.523s-5.402-1.284-6.888-3.523c-.16-.242-.132-.562.069-.771.2-.209.52-.251.768-.1,2.708,1.642,4.508,1.868,6.051,1.868s3.343-.226,6.051-1.868c.247-.152.566-.109.768.1.201.209.23.53.069.771Z"/>
                  <path
                    class="cls-1"
                    d="m51.038,63.603v-23.333c0-5.655-4.6-10.255-10.255-10.255h-2.933c3.218-3.183,5.217-7.595,5.217-12.467C43.067,7.872,35.195,0,25.519,0S7.972,7.872,7.972,17.548c0,4.872,1.999,9.284,5.217,12.467h-2.933c-5.655,0-10.256,4.6-10.256,10.255v23.333h51.038Zm-43.448-7.591v-15.742c0-1.469,1.196-2.664,2.665-2.664h30.527c1.469,0,2.664,1.195,2.664,2.664v15.742H7.591Zm17.929-28.508c-5.49,0-9.957-4.466-9.957-9.957s4.467-9.957,9.957-9.957,9.957,4.467,9.957,9.957-4.466,9.957-9.957,9.957Z"/>
                  <path
                    class="cls-1"
                    d="m25.52,21.32c-1.708,0-3.702-.251-6.7-2.068-.274-.167-.628-.12-.85.111-.223.232-.254.587-.077.854,1.645,2.479,4.425,3.901,7.626,3.901s5.98-1.422,7.625-3.901c.177-.267.146-.622-.077-.854-.223-.231-.576-.279-.85-.111-2.998,1.818-4.991,2.068-6.699,2.068Z"/>
                </svg>
              </div>
              <h3>Resolving Membership Issues</h3>
            </div>
            <p>
              In addition to answering billing and wash operational hours questions, EverWash Assist's agents are equipped to resolve
              issues related to customer memberships. This function is vital in retaining members who may be considering cancellation.
            </p>
          </div>
          <div class="benefit-container">
            <div class="benefit-title">
              <div class="icon-container">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.87 72.852" height="35px" width="35px">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #111c4e;
                      }
                    </style>
                  </defs>
                  <path
                    class="cls-1"
                    d="m62.196,10.655C47.988-3.549,24.867-3.554,10.657,10.655c-14.21,14.21-14.21,37.33,0,51.54,7.105,7.105,16.437,10.657,25.77,10.657s18.665-3.552,25.768-10.657c6.884-6.882,10.675-16.036,10.675-25.77s-3.791-18.888-10.675-25.77Zm-6.582,44.957c-10.579,10.581-27.792,10.579-38.373,0-10.579-10.579-10.579-27.795,0-38.374,10.579-10.579,27.792-10.579,38.373,0,5.125,5.124,7.947,11.938,7.947,19.187s-2.822,14.063-7.947,19.187Z"/>
                  <path
                    class="cls-1"
                    d="m35.663,16.586c-8.989,0-14.665,3.708-17.529,9.102l10.001,5c1.18-2.36,3.425-3.821,5.842-3.821,2.079,0,3.766.899,3.766,2.64,0,3.427-7.248,5.45-7.248,12.248h11.573c0-4.326,8.989-5.843,8.989-14.44,0-7.022-6.573-10.73-15.394-10.73Z"/>
                  <path
                    class="cls-1"
                    d="m36.281,44.003c-4.382,0-7.416,2.866-7.416,6.63,0,3.708,3.034,6.742,7.416,6.742s7.417-3.033,7.417-6.742c0-3.764-3.035-6.63-7.417-6.63Z"/>
                </svg>
              </div>
              <h3>Trained to answer FAQs</h3>
            </div>
            <p>
              EverWash Assist's agents are trained to provide answers to common queries from customers. This not only resolves the
              immediate issue, but also preempts potential problems.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Results of EverWash Assist -->
  <section id="ewAssistResults">
    <div class="container">
      <h2>The Results</h2>
      <p>
        EverWash Assist's approach has led to a
        <strong>42% decrease in cancellation calls</strong>
        within the first 90 days of our agents taking over the
                phones.
      </p>
    </div>
    <div class="container table-container">
      <table>
        <tr>
          <th>Time Period</th>
          <th>Cancellation Calls</th>
          <th>Reduction</th>
        </tr>
        <tr>
          <td>Pre-EverWash Assist</td>
          <td>100%</td>
          <td>0%</td>
        </tr>
        <tr>
          <td>Post-EverWash Assist (90 days)</td>
          <td>58%</td>
          <td>42%</td>
        </tr>
      </table>
    </div>
    <div class="container">
      <h3>Reduce Unlimited Membership Cancellations</h3>
      <img
        src="/img/mlv-infographic.png"
        alt="A graph showing the effect of EverWash Assist on membership cancellations. With EverWash agents, cancellations go
          down and member lifetime value goes up."
        class="img-fluid"/>
    </div>
  </section>
  <!-- Call to Action -->
  <section id="ewAssistCta" class="b2b-subpage-cta-section">
    <div class="container slide-up on-scroll-animation">
      <div class="row">
        <div class="col-lg-5">
          <img
            src="/img/illustrations/customer-service.png"
            alt="A customer service representative providing assistance over the phone."
            class="img-fluid"/>
        </div>
        <div class="col-lg-7">
          <h2>
            Need help with membership cancellations? Let's chat about how EverWash Assist can
                        help.
          </h2>
          <button class="btn btn-accent" type="button" data-toggle="modal" data-target="#analyticsModal">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </section>
  <div class="modal fade" id="analyticsModal" tabindex="-1" aria-labelledby="Contact Us" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row" id="contactSalesForm">
            <div class="col-lg-5">
              <img src="../img/logos/EverWash_HorizontalLogo_RGB_White.png" alt="EverWash logo" class="img-fluid"/>
              <button type="button" class="close d-lg-none" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  <i class="fal fa-times"></i>
                </span>
              </button>
              <p>Fill out the form or contact us.</p>
              <div>
                <p>
                  <i class="fas fa-phone-alt"></i>
                  <a href="tel:8554927477">(855) 492-7477</a>
                </p>
                <p>
                  <i class="fas fa-envelope"></i>
                  <a href="mailto:sales@everwash.com">sales@everwash.com</a>
                </p>
              </div>
            </div>
            <div class="col-lg-7">
              <div id="analyticsModalHeader">
                <h5>Learn More</h5>
                <button type="button" class="close d-none d-lg-block" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">
                    <i class="fal fa-times"></i>
                  </span>
                </button>
              </div>
              <p>
                Fill out the form below to learn more about how EverWash Assist can help your car wash.
              </p>
              <form
                id="ewAssistFormData"
                name="EverWash Assist Form"
                method="POST"
                action="../wash-owners/everwash-assist-success.html"
                data-form="formData"
                netlify
                netlify-honeypot="bot-field">
                <input type="hidden" name="formName" value="EverWash Assist Form" aria-hidden="true"/>
                <div class="bot-field">
                  <label>
                    Don't fill this out if you're human: <input name="bot-field"/>
                  </label>
                </div>
                <div class="input-wrapper">
                  <input
                    name="name"
                    id="name"
                    class="form-control"
                    type="text"
                    required="required"
                    placeholder=" "
                    aria-label="Enter your first name"/>
                  <label for="name">First Name</label>
                </div>
                <div class="input-wrapper">
                  <input
                    name="last-name"
                    id="lastName"
                    class="form-control"
                    type="text"
                    required="required"
                    placeholder=" "
                    aria-label="Enter your last name"/>
                  <label for="lastNameInput">Last Name</label>
                </div>
                <div class="input-wrapper">
                  <input
                    name="email"
                    id="email"
                    class="form-control"
                    type="email"
                    required="required"
                    placeholder=" "
                    aria-label="Enter your email"/>
                  <label for="email">Email</label>
                </div>
                <div class="input-wrapper">
                  <input
                    name="phone"
                    id="phone"
                    class="form-control"
                    type="tel"
                    required="required"
                    placeholder=" "
                    aria-label="Enter your phone number"/>
                  <label for="phone">Phone Number</label>
                </div>
                <div class="d-c">
                  <button class="btn btn-primary btn-large" type="submit">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>