---
  title: Expert Support for EverWash Wash Owners | Get Help with Your Wash Owner Account
  description: Find the support you need to manage your car wash business with our Wash Owners Support page. Get answers to common questions, troubleshoot common issues, and access helpful resources for your car wash.
  permalink: "{{ page.filePathStem }}.html"
  image: https://everwash.com/img/everwash-main-meta-img.png
  sitemap:
    priority: 0.64
  layout: 'base.njk'
---

<main
  id="partnerSupportBody">
  <!-- Support Navigation Breadcrumb -->
  <section class="supportNav">
    <div class="container">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="../support.html">EverWash Help</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Partners
          </li>
        </ol>
      </div>
    </div>
  </section>
  <!-- Support Body -->
  <section class="supportContent">
    <div class="container">
      <h2>Help &amp; Support for Partners</h2>
    </div>
  </section>
  {%include 'wash-owner-faq.njk'%}
  <section class="supportContact">
    <div class="container">
      <h4>Still need help? Get in touch</h4>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="supportContactCard">
            <h5>Wash Owner Support</h5>
            <div>
              <p>
                <a href="mailto:support@everwash.com" class="underline">
                  <i class="fas fa-envelope"></i>support@everwash.com</a>
              </p>
              <p>
                <a href="tel:2156188808" class="underline">
                  <i class="fas fa-phone-alt"></i>(215) 618-8808</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="supportContactCard">
            <h5>Wash Owner Sales</h5>
            <div>
              <p>
                <a href="mailto:sales@everwash.com" class="underline">
                  <i class="fas fa-envelope"></i>sales@everwash.com</a>
              </p>
              <p>
                <a href="tel:8554927477" class="underline">
                  <i class="fas fa-phone-alt"></i>(855) 492-7477</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>