/************************************ 
*********** CASE STUDY *************
*************************************/
section#caseStudyHero {
  padding: 0!important;
}
#caseStudyHero .container {
  max-width: 100%;
  padding: 0!important;
}
#caseStudyHero .row {
  align-items: stretch;
  margin: 0 !important;
}
#caseStudyHero div.col-sm-9 {
  background-color: #141C52;
  background-image: url("/img/new-update/casestudy_banner_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10% 5%;
  flex: 0 0 65%;
  max-width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#caseStudyHero div.col-sm-9 h4 {
  color: #28D5CB;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  width: max-content;
  margin-bottom: 45px;
}
#caseStudyHero div.col-sm-9 h4:after {
  content: "";
  width: 100%;
  height: 2.5px;
  background: #F3F183;
  position: absolute;
  left: 0;
  bottom: -3.5px;
}
#caseStudyHero div.col-sm-9 h3 {
  color: #FFF;
  font-size: 45px;
  font-weight: 600;
  max-width: 600px;
  line-height: 1.15em;
  margin-bottom: 50px;
}
#caseStudyHero div.col-sm-9 P {
  color: #F3F183;
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
  font-weight: 600;
}
#caseStudyHero div.col-sm-3 {
  background: #F3F183;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 35%;
  max-width: 35%;
  padding: 10% 5%;
  text-align: center; 
}
#caseStudyHero div.col-sm-3 img {
  margin: auto;
  max-width: 200px;
  display: block;
}
#caseStudyHero div.col-sm-3 a.btn-blue {
  background: #141c52;
  color: #fff;
  min-width: 200px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25em;
  margin-top: 30px;
}
#caseStudyHero div.col-sm-3 a.btn-blue:hover {
  background:#fff ;
  color: #141c52;
}

section#caseStudyPopup {
  padding: 0!important;
}
#caseStudyPopup .container {
  max-width: 100%;
  padding: 0!important;
  background-color: #9AAAEB;
  background-image: url("/img/new-update/casestudy_img.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
}
#caseStudyPopup .row {
  align-items: stretch;
  margin: 0 !important;
}
#caseStudyPopup div.col-sm-12 {
  padding: 10% 5%;
  flex: 0 0 65%;
  max-width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#caseStudyPopup div.col-sm-12 h3 {
  color: #141C52;
  font-size: 50px;
  font-weight: 600;
  max-width: 600px;
  line-height: 1.25em;
}
#caseStudyPopup div.col-sm-12 h3 span:after {
  content: "";
  width: 100%;
  height: 2.5px;
  background: #F3F183;
  position: absolute;
  left: 0;
  bottom: -3.5px;
}
#caseStudyPopup div.col-sm-12 a.btn-blue {
  background: #141c52;
  color: #fff;
  min-width: 200px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25em;
  margin-top: 30px;
}
#caseStudyPopup div.col-sm-12 a.btn-blue:hover {
  background:#fff ;
  color: #141c52;
}
@media only screen and (max-width: 999px) {
  #caseStudyHero div.col-sm-9 h3 {
    font-size: 30px;
  }
  #caseStudyPopup div.col-sm-9 h3 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  #caseStudyHero div.col-sm-9, #caseStudyHero div.col-sm-3, #caseStudyPopup div.col-sm-9 {
    flex: none;
    max-width: 100%;
    display: block;
    padding: 10%;
  }
}

/************************************ 
  *********** WHITE PAPER *************
  *************************************/
#whitePaperHero {
  padding: 7% 0;
  background: url(../img/hero_images/white-paper-hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
}
#whitePaperHero h1,
#whitePaperHero p {
  margin-bottom: 5%;
}

/************************************ 
*********** MEDIA QUERIES*************
*************************************/
/* Large Laptop */
@media (max-width: 1440px) {
}

/* Laptop */
@media (max-width: 1024px) {
  #vetOperators .col-lg-6:last-child {
    height: 500px;
  }
}

/* Tablet */
@media (max-width: 768px) {
}

/* Large Phone */
@media (max-width: 425px) {
  /* #caseStudyBody h1 {
    font-size: 2rem;
  } */
  #caseStudyBody h3 {
    font-size: 1.85rem !important;
  }
  #caseStudyBody h4 {
    font-size: 1.85rem !important;
  }
}

/* Medium Phone */
@media (max-width: 375px) {
}

/* Small Phone */
@media (max-width: 320px) {
}
