<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Hotjar Tracking Code for EverWash Website -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:5027433,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WQ72BT");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <!-- Primary Meta Tags -->
    <title>Careers | EverWash - The Better Way to Wash Your Car</title>
    <meta
      name="title"
      content="Privacy | EverWash - The Better Way to Wash Your Car"
    />
    <meta
      name="description"
      content="EverWash's privacy policies describes the information gathered from users and how it is used with respect to privacy."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.everwash.com/" />
    <meta
      property="og:title"
      content="Careers | EverWash - The Better Way to Wash Your Car"
    />
    <meta
      property="og:description"
      content="EverWash's privacy policies describes the information gathered from users and how it is used with respect to privacy."
    />
    <meta
      property="og:image"
      content="https://app.everwash.com/img/fbsharer2.jpg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.everwash.com/" />
    <meta
      property="twitter:title"
      content="Careers | EverWash - The Better Way to Wash Your Car"
    />
    <meta
      property="twitter:description"
      content="EverWash's privacy policies describes the information gathered from users and how it is used with respect to privacy."
    />
    <meta
      property="twitter:image"
      content="https://app.everwash.com/img/fbsharer2.jpg"
    />
    <!-- Prevent Cache Across Browsers -->
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./img/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./img/favicon/safari-pinned-tab.svg"
      color="#1e50ff"
    />
    <meta name="apple-mobile-web-app-title" content="EverWash" />
    <meta name="application-name" content="EverWash" />
    <meta name="msapplication-TileColor" content="#00e1e1" />
    <meta name="theme-color" content="#ffffff" />
    <!-- CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <!-- CSS Dir -->
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <!-- WebSights Tracking -->
    <script>
      (function () {
        var zi = document.createElement("script");
        zi.type = "text/javascript";
        zi.async = true;
        zi.referrerPolicy = "unsafe-url";
        zi.src = "https://ws.zoominfo.com/pixel/62277ad0063474001ab2a78d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(zi, s);
      })();
    </script>
  </head>
  <body>
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "https://www.google-analytics.com/analytics.js",
        "ga"
      );

      ga("create", "UA-80110420-1", "auto");
      ga("send", "pageview");
    </script>

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WQ72BT"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
      <div class="container-fluid">
        <a href="./index.html" class="navbar-brand">
          <img
            src="img/EverWash_Logo_Blue_hor.png"
            alt="Everwash Logo"
            class="img-fluid img-nav"
          />
          <img
            src="/img/EverWash_Logo_Blue.png"
            alt="Everwash Logo"
            class="img-fluid img-nav"
          />
        </a>
        <div class="compressed-btn-group">
          <button
            class="btn"
            type="button"
            data-toggle="modal"
            data-target="#loginModal"
          >
            Log In
          </button>
          <button
            class="btn btn-blue"
            type="button"
            data-toggle="modal"
            data-target="#signupModal"
          >
            Sign Up
          </button>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#mainNav"
          aria-controls="mainNav"
          aria-expanded="false"
          aria-label="toggle navigation"
        >
          <div id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
          <ul id="navList" class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="members.html">Member</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="wash-owners.html">Wash Owner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="distributors.html">Distributors</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="http://newsroom.morewashprofits.com/"
                target="_blank"
                >News</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="support.html">Help &amp; Support</a>
            </li>
          </ul>
          <div class="d-flex">
            <button
              class="btn mr-2"
              type="button"
              data-toggle="modal"
              data-target="#loginModal"
            >
              Log In
            </button>
            <button
              class="btn btn-blue"
              type="button"
              data-toggle="modal"
              data-target="#signupModal"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </nav>
    <!-- Login -->
    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      aria-label="Log In"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <button class="btn">
                  <a href="https://app.everwash.com/#login">
                    <h3>Member Login</h3>
                    <p>Manage your unlimited car wash membership account.</p>
                    <div><i class="fal fa-long-arrow-right"></i></div>
                  </a>
                </button>
              </div>
              <div class="col-lg-6">
                <button class="btn">
                  <a href="https://dashboard.everwash.com/">
                    <h3>Partner Login</h3>
                    <p>Manage your car wash business account.</p>
                    <div><i class="fal fa-long-arrow-right"></i></div>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Sign Up -->
    <div
      class="modal fade"
      id="signupModal"
      tabindex="-1"
      aria-label="Sign Up"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <button class="btn">
                  <a href="https://app.everwash.com/#register/">
                    <h3>Sign Up to be a Member</h3>
                    <p>Get unlimited car washes.</p>
                    <div><i class="fal fa-long-arrow-right"></i></div>
                  </a>
                </button>
              </div>
              <div class="col-lg-6">
                <button class="btn">
                  <a href="wash-owners/sales.html">
                    <h3>Become a Partner</h3>
                    <p>Boost your car wash revenue.</p>
                    <div><i class="fal fa-long-arrow-right"></i></div>
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <main id="jobMain">
      <!-- <section id="jobBackNav">
        <div class="container">
          <a href="/careers.html"
            ><i class="far fa-arrow-left"></i>Back to EverWash Careers</a
          >
        </div>
      </section> -->
      <section id="jobBody">
        <div class="container">
          <div class="row">
            <div class="col-sm-12" id="jobHeader">
              <p>EverWash</p>
              <a href="/job-form.html" class="btn btn-teal text-white"
                >Apply Now</a
              >
            </div>
          </div>
          <div class="row">
            <div class="col-12" id="jobDescription">
              <h1>React Native Developer</h1>
              <div id="jobSubheading">
                <span><i class="fas fa-clock"></i> Full-Time</span>
                <span><i class="fas fa-map-marker-alt"></i> Remote</span>
              </div>
              <div>
                <p>
                  EverWash is adding thousands of new users each month and is
                  disrupting the car wash industry through a membership-based
                  business model. We work with our Wash Partners to provide them
                  with a platform to advertise their unlimited monthly car wash
                  plans and attract new customers.
                </p>
                <p>
                  We are currently seeking an experienced React
                  Native-experienced or Full Stack Developer to join our growing
                  tech team and contribute to development of our iOS/Android
                  membership app. You’ll work collaboratively with internal
                  stakeholders to learn their needs, gather requirements, and
                  deploy business-enhancing features to engage our users — car
                  wash partners & car owners — and provide them additional
                  functionality. Your work will be front-end focused, but
                  knowledge of backend development is welcome and valued.
                </p>
                <p>
                  EverWash has been ranked on the a16z Marketplace 100 for the
                  second year in a row, which highlights the largest and
                  fastest-growing consumer-facing marketplace startups and
                  private companies such as StockX, Spot Hero, MasterClass, and
                  Offer UP.
                </p>
                <h2>What You'll Do</h2>
                <p>
                  We are looking for a React Native Developer who will help us
                  create the greatest version of our innovative membership app.
                  In this role, you will:
                </p>
                <ul>
                  <li>
                    Develop user interface components using React Native
                    concepts and workflows, upgrading, configuring and debugging
                    existing systems per our business requirements.
                  </li>
                  <li>
                    Work collaboratively within an Agile environment, using
                    tools such as Microsoft Azure DevOps, Git, and Slack.
                  </li>
                  <li>
                    Participate in requirements analysis, helping our teams
                    dream big while also advising on realistic solutions.
                  </li>
                  <li>
                    Implement front-end architecture to support user interface
                    concepts.
                  </li>
                  <li>Test and deploy applications and systems.</li>
                  <li>Revise, update, refactor and debug code.</li>
                  <li>
                    Develop documentation throughout the software development
                    life cycle (SDLC).
                  </li>
                  <li>Oversee the work of and mentor junior developers</li>
                  <li>
                    Have the potential to grow with our company into future
                    opportunities and leadership roles.
                  </li>
                </ul>

                <h2>What You'll Need</h2>
                <p>
                  We pride ourselves on having a tight-knit team of people who
                  are invested in our company, and who are committed to helping
                  each other, our users and our expanding roster of car wash
                  partners realize their full potential! You’ll be successful if
                  you have:
                </p>
                <ul>
                  <li>
                    Proven experience with React Native and mobile development.
                    Understanding of backend development (SQL, .Net, PHP,
                    containerization) valued but not required.
                  </li>
                  <li>
                    Familiarity with architecture styles/APIs (REST, RPC) and
                    Agile methodologies.
                  </li>
                  <li>
                    Excellent troubleshooting, problem solving, and
                    communication skills.
                  </li>
                  <li>Ability to work independently and as part of a team.</li>
                  <li>Incredible attention to detail.</li>
                  <li>
                    BSc/BA in Computer Science, Engineering, a related field, or
                    equivalent experience. Applicants from a variety of
                    educational backgrounds are welcome!
                  </li>
                  <li>A desire to thrive in a fast-paced startup culture.</li>
                </ul>
                <h2>About EverWash</h2>
                <p>
                  EverWash works with car wash owners to grow the success and
                  membership of their businesses. We have experienced enormous
                  success and growth because of the smart, entrepreneurial
                  people who make up our core team. If you are ready to make a
                  significant contribution to our team, please apply for this
                  position today.
                </p>
                <h2>Benefits</h2>
                <p>
                  As an EverWash team member, you will be entitled to all the
                  benefits we offer regular full-time employees including:
                </p>
                <ul>
                  <li>Health/vision/dental benefits</li>
                  <li>Company-paid group term life insurance</li>
                  <li>
                    Flexible Spending and Health Savings Accounts (FSA & HSA)
                  </li>
                  <li>Paid Time Off</li>
                  <li>Ability to be fully remote</li>
                </ul>
              </div>
              <a href="/job-form.html" class="btn btn-teal text-white"
                >Apply Now</a
              >
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="row d-c" id="footerAppStore">
          <div class="col-lg-5 d-c">
            <img
              src="/img/EverWash_Logo_White.png"
              alt="EverWash logo"
              class="img-fluid img-footer"
            />
          </div>
          <div class="col-lg d-c">
            <div class="row">
              <div class="col-sm-6 d-c">
                <a
                  href="https://apps.apple.com/us/app/everwash/id962949509?itsct=apps_box_badge&amp;itscg=30200"
                  style="
                    display: inline-block;
                    border-radius: 13px;
                    width: 160px;
                    height: 83px;
                  "
                  ><img
                    src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1427500800&h=156920f74ce14a0d9f20433eed2d3a44"
                    alt="Download on the App Store"
                    style="border-radius: 13px; width: 160px; height: 83px"
                /></a>
              </div>
              <div class="col-sm-6 d-c">
                <a
                  href="https://play.google.com/store/apps/details?id=com.everwash.carclub&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
                  ><img
                    alt="Get it on Google Play"
                    style="border-radius: 13px; width: auto; height: 78px"
                    src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="footerLinks">
          <div class="col-lg col-md-6 col-6">
            <ul>
              <p>Members</p>
              <li><a href="/members.html">Become a Member</a></li>
            </ul>
          </div>
          <div class="col-lg col-md-6 col-6">
            <ul>
              <p>Wash Partners</p>
              <li><a href="/wash-owners/white-paper.html">White Paper</a></li>
              <li><a href="/wash-owners/case-study.html">Case Study</a></li>
              <li>
                <a href="/wash-owners/revenue-calculator.html"
                  >Revenue Calculator</a
                >
              </li>
              <li>
                <a href="/wash-owners/wash-analytics.html">Wash Analytics</a>
              </li>
              <li><a href="/wash-owners/sales.html">Contact Sales</a></li>
            </ul>
          </div>
          <div class="col-lg col-md-6 col-sm-6">
            <ul>
              <p>Distributors</p>
              <li>
                <a href="/distributors.html">Become a Distributor</a>
              </li>
            </ul>
          </div>
          <div class="col-lg col-md-6 col-6">
            <ul>
              <p>Company</p>
              <li><a href="/about.html">About Us</a></li>
              <li>
                <a href="http://newsroom.morewashprofits.com/" target="_blank"
                  >Newsroom</a
                >
              </li>
              <!-- <li><a href="careers.html">Careers</a></li> -->
            </ul>
          </div>
          <div class="col-lg col-md-6 col-6">
            <ul>
              <p>Help &amp; Support</p>
              <li><a href="/support.html">Visit Help Center</a></li>
            </ul>
          </div>
        </div>
        <div class="row d-c" id="footerBottom">
          <div class="col-lg">
            <p>
              Copyright &copy;
              <script type="text/javascript">
                document.write(new Date().getFullYear());
              </script>
              EverWash&trade;
            </p>
          </div>
          <div class="col-lg">
            <a href="https://www.facebook.com/EverWash" target="_blank"
              ><i
                class="fab fa-facebook-f"
                aria-hidden="true"
                title="Visit EverWash's Facebook"
              ></i
              ><span class="sr-only">Visit EverWash's Facebook</span></a
            >
            <a href="https://twitter.com/EverWash" target="_blank"
              ><i
                class="fab fa-twitter"
                aria-hidden="true"
                title="Visit EverWash's Twitter"
              ></i
              ><span class="sr-only">Visit EverWash's Twitter</span></a
            >
            <a href="https://www.instagram.com/everwashcc/" target="_blank"
              ><i
                class="fab fa-instagram"
                aria-hidden="true"
                title="Visit EverWash's Instagram"
              ></i
              ><span class="sr-only">Visit EverWash's Instagram</span></a
            >
            <a href="https://www.linkedin.com/company/everwash/" target="_blank"
              ><i
                class="fab fa-linkedin"
                aria-hidden="true"
                title="Visit EverWash's LinkedIn"
              ></i
              ><span class="sr-only">Visit EverWash's LinkedIn</span></a
            >
            <a
              href="https://www.youtube.com/channel/UCv3ZMElXRnResR_Dv9dd1GA"
              target="_blank"
              ><i
                class="fab fa-youtube"
                aria-hidden="true"
                title="Visit EverWash's Youtube"
              ></i
              ><span class="sr-only">Visit EverWash's Youtube</span></a
            >
          </div>
          <div class="col-lg">
            <a href="/terms-and-conditions.html">Terms &amp; Conditions</a>
            <a href="/privacy-policy.html">Privacy</a>
            <a href="/sitemap.html">Site Map</a>
            <!-- <a href="accessibility.html">Accessibility</a> -->
          </div>
        </div>
      </div>
    </footer>
    <!-- CDN -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/52cc99a7a6.js"
      crossorigin="anonymous"
    ></script>
    <!-- JS Dir -->
    <script src="./js/main.js"></script>
    <!-- WebSights Tracking -->
    <noscript>
      <img
        src="https://ws.zoominfo.com/pixel/62277ad0063474001ab2a78d"
        width="1"
        height="1"
        style="display: none"
      />
    </noscript>
  </body>
</html>
