---
  title: 404 | EverWash - Delightful wash experiences at every touchpoint
  description: EverWash partners with local car washes to better wash experiences at every touchpoint. Our app helps our customers save money and enjoy their cars.
  permalink: "{{ page.filePathStem }}.html"
  image: https://everwash.com/img/everwash-main-meta-img.png
  sitemap:
    ignore: true
  layout: 'base-default.njk'
---
    <main>
      <section id="section404">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-c">
              <img src="img/car-crash.png" alt="" class="img-fluid" />
            </div>
            <div class="col-lg-6">
              <div>
                <h3 class="brand-blue display-1">404</h3>
                <h4 class="display-4">
                  Oops! Looks like you took a wrong turn.
                </h4>
                <p>We can't seem to find the page you're looking for.</p>
                <a href="index.html">Back to Home</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    
