---
  title: Accessibility | EverWash - Delightful wash experiences at every touchpoint
  description: EverWash partners with local car washes to better wash experiences at every touchpoint. Our app helps our customers save money and enjoy their cars.
  permalink: "{{ page.filePathStem }}.html"
  image: https://everwash.com/img/everwash-main-meta-img.png
  sitemap:
    ignore: true
  layout: 'base.njk'
---

<main id="blogMain">
  <!-- Hero Section -->
  <section id="blogHero">
    <div class="container">
      <h1>EverWash Blog</h1>
      <h2>Discover Ideas, Stories, & Articles</h2>
      {# Search Form #}
      <div class="article-search-form">
        <div id="search"></div>
      </div>
    </div>
  </section>

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css"
  />
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"
  ></script>
  <script type="text/javascript">
    algoliasearchNetlify({
      appId: "G48FVNDGXU",
      apiKey: "cb6a5aaafd00200cb4b5635bca187b62",
      siteId: "7b6d9df2-4352-4e0e-a1cd-488331730322",
      hitsPerPage: "10",
      branch: "main",
      selector: "div#search",
    });
  </script>
</main>
