---
  title: Empower Your Car Wash Attendants with EverWash's Resources & Webinars
  description: Empower your attendants with EverWash's innovative technology solutions. Our Attendants page offers resources and training to help your team deliver a superior car wash experience.
  permalink: "{{ page.filePathStem }}.html"
  image: https://everwash.com/img/everwash-main-meta-img.png
  sitemap:
    priority: 0.64
  layout: 'base-default.njk'
---

<main id="attendantsMain">
  <!-- Hero -->
  <section id="attendantsHero">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="brand-nubolts">Attendant Resources</h1>
        </div>
        <div class="col-lg-4">
          <img
            src="/img/illustrations/attendant.png"
            alt="An illustration of a smiling attendant at a car wash."
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- Webinars -->
  <section id="attendantWebinars">
    <div class="container">
      <div class="row webinar-heading">
        <div class="col-lg-12">
          <img
            src="/img/webinar.png"
            alt="An icon of a virtual meeting using a laptop."
            class="img-fluid"
          />
          <div>
            <h2>Attendant Webinar Workshops</h2>
            <p>Gain skills to become an expert in car wash membership sales.</p>
          </div>
        </div>
      </div>
      <!-- New Attendant Training -->
      <div class="webinar-class">
        <h3>New Attendant Training</h3>
        <hr />
        <div class="row">
          <div class="col-lg-5">
            <h4>What You’ll Learn</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Foundational training with everything you need to get started with
              EverWash. After completing New Attendant Training, you should be
              able to:
            </p>
            <ol>
              <li>Feel confident navigating the EverWash App.</li>
              <li>
                Approach car wash customers and pitch/sell membership packages.
              </li>
              <li>Answer FAQs and assist customers with their membership.</li>
            </ol>
            <p>
              This live training is available to any EverWash partner and
              conducted via Zoom.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5">
            <h4>Upcoming Sessions</h4>
          </div>
          <div class="col-lg-7">
            <p>Click a link below in order to join the webinar:</p>
            <div class="webinar-link-group" id="attendantTrainingLinks">
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >04/08/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >04/22/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >05/06/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >05/20/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >06/03/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >06/17/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >07/01/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >07/15/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >07/29/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >08/12/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >08/26/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >09/09/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >09/23/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >10/07/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >10/21/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >11/04/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >11/18/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >12/02/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >12/16/24 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/81577383757"
                class="btn btn-secondary"
                target="_blank"
                >12/30/24 3PM EST</a
              >
              <button
                class="link-dark toggle-collapse-btn"
                data-target="attendantTrainingLinks"
              >
                Show All Dates
                <i class="fal fa-angle-down"></i>
              </button>
            </div>
            <p><b>Please download and import the following iCalendar (.ics) files to your calendar system.<br>Weekly:</b> <a href="https://us06web.zoom.us/meeting/tZUocO6rpjgtH9OZ-XamQemgdLIFUrA27CNx/ics?icsToken=98tyKuGpqzwtGdyWtxyARpwcGY_CKOnxiHZagvpyplLdAi1iZw7xMs5rFIdtMYqH" target="_blank">Here!</a></p>
            <p><b>Meeting ID:</b> 815 7738 3757</p>
            <p><b>Find your local number:</b> <a href="https://us06web.zoom.us/u/kARPq7118" target="_blank">Here!</a></p>
          </div>
        </div>
      </div>
      <!-- Advanced Sales Tactics -->
      <div class="webinar-class">
        <h3>Advanced Sales Tactics</h3>
        <hr />
        <div class="row">
          <div class="col-lg-5">
            <h4>What You’ll Learn</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Advanced sales training to drive more membership sales at your car
              wash location. After completing Advanced Sales Tactics, you should
              be able to:
            </p>
            <ol>
              <li>
                Confidently approach all customers with a delightful and
                effective sales pitch.
              </li>
              <li>Sell memberships at a higher conversion ratio.</li>
              <li>Come away with a mastery of the EverWash App.</li>
            </ol>
            <p>
              This live training is available to any EverWash partner and
              conducted via Zoom. It is recommended that you first attend the
              New Attendant Training before joining Advanced Sales Tactics.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5">
            <h4>Upcoming Sessions</h4>
          </div>
          <div class="col-lg-7">
            <p>Click a link below in order to join the webinar:</p>
            <div class="webinar-link-group" id="attendantTrainingLinks">
              <a
                href="https://us06web.zoom.us/j/9873954749?omn=85313456925"
                class="btn btn-secondary"
                target="_blank"
                >04/15/24, 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/9873954749?omn=87129142515"
                class="btn btn-secondary"
                target="_blank"
                >05/13/24, 3PM EST</a
              >
              <a
                href="https://us06web.zoom.us/j/9873954749?omn=86780593237"
                class="btn btn-secondary"
                target="_blank"
                >06/24/24, 3PM EST</a
              >
              {# <button
                class="link-dark toggle-collapse-btn"
                data-target="attendantTrainingLinks"
              >
                Show All Dates
                <i class="fal fa-angle-down"></i>
              </button> #}
            </div>
            <p style="margin-top: 15px;"><b>Meeting ID:</b> 987 395 4749</p>
            <p><b>Find your local number:</b> <a href="https://us06web.zoom.us/u/kAZseYpFK" target="_blank">Here!</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Attendant Duties -->
  <section id="attendantDuties">
    <div class="container">
      <h2>What does an attendant do?</h2>
      <div class="row">
        <div class="col-lg-4">
          <img
            src="/img/illustrations/attendants_01.png"
            alt="An icon of a person talking."
            class="img-fluid"
          />
          <p>Inform customers about Membership Programs</p>
        </div>
        <div class="col-lg-4">
          <img
            src="/img/illustrations/attendants_02.png"
            alt="An icon of a smartphone."
            class="img-fluid"
          />
          <p>Assist customers with signing up</p>
        </div>
        <div class="col-lg-4">
          <img
            src="/img/illustrations/attendants_03.png"
            alt="An icon of a sparkling clean car."
            class="img-fluid"
          />
          <p>Answer customers’ questions</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Attendant Steps -->
  <section id="attendantSteps">
    <div class="container">
      <h2>How to Sign Up Customers</h2>
      <div class="row" id="howItWorks">
        <div class="col-lg-5 text-center img-col" id="">
          <div id="howItWorksImgContainer" class="d-c">
            <div class="step-img-container" id="stepOneImg">
              <img
                src="/img/login.png"
                alt="Loading Screen of EverWash unlimited car washes app"
                class="img-fluid d-none d-xl-block d-lg-block"
              />
            </div>
            <div class="step-img-container" id="stepTwoImg">
              <img
                src="/img/attendant_app_06.png"
                alt="EverWash attendant screen for signing up new members."
                class="img-fluid d-none d-xl-block d-lg-block"
              />
            </div>
            <div class="step-img-container" id="stepThreeImg">
              <img
                src="/img/attendant_app_02.png"
                alt="EverWash attendant screen for selecting a plan."
                class="img-fluid d-none d-xl-block d-lg-block"
              />
            </div>
            <div class="step-img-container" id="stepFourImg">
              <img
                src="/img/attendant_app_01.png"
                alt="EverWash attendant screen for entering customers' payment information."
                class="img-fluid d-none d-xl-block d-lg-block"
              />
            </div>
            <div class="step-img-container" id="stepFiveImg">
              <img
                src="/img/attendant_app_05.png"
                alt="A settings screen from the EverWash app."
                class="img-fluid d-none d-xl-block d-lg-block"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="step-card" id="howItWorksStepOne">
            <div class="mobile-img-container d-lg-none">
              <img
                src="/img/login.png"
                alt="Loading Screen of EverWash unlimited car washes app"
                class="img-fluid"
              />
            </div>
            <h6 class="step-card-name">Step 1</h6>
            <p>
              Open the EverWash App and log in with your designated email and
              password.
            </p>
          </div>
          <div class="step-card" id="howItWorksStepTwo">
            <div class="mobile-img-container d-lg-none">
              <img
                src="/img/attendant_app_06.png"
                alt="EverWash attendant screen for signing up new members."
                class="img-fluid d-lg-none"
              />
            </div>
            <h6 class="step-card-name">Step 2</h6>
            <p>
              Select “Sign Up New Member” and choose your name to ensure you get
              credit for the sale.
            </p>
          </div>
          <div class="step-card" id="howItWorksStepThree">
            <div class="mobile-img-container d-lg-none">
              <img
                src="/img/attendant_app_02.png"
                alt="EverWash attendant screen for selecting a plan."
                class="img-fluid d-lg-none"
              />
            </div>
            <h6 class="step-card-name">Step 3</h6>
            <p>
              Select the membership plan the customer wants and ask for the
              credit card they want to use.
            </p>
          </div>
          <div class="step-card" id="howItWorksStepFour">
            <div class="mobile-img-container d-lg-none">
              <img
                src="/img/attendant_app_01.png"
                alt="EverWash attendant screen for entering customers' payment information."
                class="img-fluid d-lg-none"
              />
            </div>
            <h6 class="step-card-name">Step 4</h6>
            <p>
              Manually enter all the information needed including the credit
              card information, their full name, and phone number or email. Once
              completed, show the customer to confirm and press “Submit”
            </p>
          </div>
          <div class="step-card" id="howItWorksStepFive">
            <div class="mobile-img-container d-lg-none">
              <img
                src="/img/attendant_app_05.png"
                alt="A settings screen from the EverWash app."
                class="img-fluid d-lg-none"
              />
            </div>
            <h6 class="step-card-name">Step 5</h6>
            <p>
              Explain to the customer: “You will receive a text message/email
              shortly. Once received, follow the instructions to download the
              EverWash App and log in as an Existing Member. Fill in the
              required information to begin using your membership.”
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="attendantFaq">
    <div class="container">
      <h2>Common Questions from Customers</h2>
      <div id="faq" class="accordion">
        <!-- Accordion item 1 -->
        <div class="card">
          <div
            id="headingOne"
            class="card-header"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            <h6 class="mb-0">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
                class="collapsible-link py-2"
              >
                <span
                  >If I purchase a Membership Club Plan how often can I wash my
                  car?</span
                >
              </a>
            </h6>
          </div>
          <div
            id="collapseOne"
            aria-labelledby="headingOne"
            data-parent="#faq"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="m-0">
                With our Membership Club you can wash your vehicle once a day,
                every day, for a whole month.
              </p>
            </div>
          </div>
        </div>
        <!-- Accordion item 2 -->
        <div class="card">
          <div
            id="headingTwo"
            class="card-header"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            <h6 class="mb-0">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
                class="collapsible-link py-2"
              >
                <span
                  >If I purchase a Membership Club Plan here can I use it at the
                  other locations?</span
                >
              </a>
            </h6>
          </div>
          <div
            id="collapseTwo"
            aria-labelledby="headingTwo"
            data-parent="#faq"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="m-0">
                Unfortunately, your Membership Club Plan can only be used at the
                location you purchased it at.
              </p>
            </div>
          </div>
        </div>
        <!-- Accordion item 3 -->
        <div class="card">
          <div
            id="headingThree"
            class="card-header"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            <h6 class="mb-0">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
                class="collapsible-link py-2"
              >
                <span>How does the Membership Club Plan work?</span>
              </a>
            </h6>
          </div>
          <div
            id="collapseThree"
            aria-labelledby="headingThree"
            data-parent="#faq"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="m-0">
                After we process your payment information you will receive a
                text message to download the EverWash app. Once you have entered
                all the necessary information, you will select a wash and use
                the EverWash app to scan a QR code on the pay station.
              </p>
            </div>
          </div>
        </div>
        <!-- Accordion item 4 -->
        <div class="card">
          <div
            id="headingFour"
            class="card-header"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            <h6 class="mb-0">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
                class="collapsible-link py-2"
              >
                <span>How do I cancel my plan?</span>
              </a>
            </h6>
          </div>
          <div
            id="collapseFour"
            aria-labelledby="headingFour"
            data-parent="#faq"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="m-0">
                You can cancel your plan at any time. You have the option on the
                app to either Freeze or Cancel, and when you want to join back
                up you can do so right from the app. You can also contact
                Customer Support at EverWash.
              </p>
            </div>
          </div>
        </div>
        <!-- Accordion item 5 -->
        <div class="card">
          <div
            id="headingFive"
            class="card-header"
            data-toggle="collapse"
            data-target="#collapseFive"
            aria-expanded="false"
            aria-controls="collapseFive"
          >
            <h6 class="mb-0">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
                class="collapsible-link py-2"
              >
                <span>What if my card expires or I get a new card?</span>
              </a>
            </h6>
          </div>
          <div
            id="collapseFive"
            aria-labelledby="headingFive"
            data-parent="#faq"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="m-0">
                You can update your credit card information on the EverWash App,
                or by contacting Customer Support at EverWash.
              </p>
            </div>
          </div>
        </div>
        <!-- Accordion item 6 -->
        <div class="card">
          <div
            id="headingSix"
            class="card-header"
            data-toggle="collapse"
            data-target="#collapseSix"
            aria-expanded="false"
            aria-controls="collapseSix"
          >
            <h6 class="mb-0">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
                class="collapsible-link py-2"
              >
                <span>Can I use it on more than one vehicle?</span>
              </a>
            </h6>
          </div>
          <div
            id="collapseSix"
            aria-labelledby="headingSix"
            data-parent="#faq"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="m-0">
                No. However, you can purchase and manage multiple accounts from
                the EverWash App.
              </p>
            </div>
          </div>
        </div>
        <!-- Accordion item 7 -->
        <div class="card">
          <div
            id="headingSeven"
            class="card-header"
            data-toggle="collapse"
            data-target="#collapseSeven"
            aria-expanded="false"
            aria-controls="collapseSeven"
          >
            <h6 class="mb-0">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
                class="collapsible-link py-2"
              >
                <span>What if I want to change my plan?</span>
              </a>
            </h6>
          </div>
          <div
            id="collapseSeven"
            aria-labelledby="headingSeven"
            data-parent="#faq"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="m-0">
                You can change your plan anytime on the EverWash App or by
                contacting Customer Support at EverWash.
              </p>
            </div>
          </div>
        </div>
        <!-- Accordion item 8 -->
        <div class="card">
          <div
            id="headingEight"
            class="card-header"
            data-toggle="collapse"
            data-target="#collapseEight"
            aria-expanded="false"
            aria-controls="collapseEight"
          >
            <h6 class="mb-0">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapseEight"
                aria-expanded="false"
                aria-controls="collapseEight"
                class="collapsible-link py-2"
              >
                <span>What if I get a new car?</span>
              </a>
            </h6>
          </div>
          <div
            id="collapseEight"
            aria-labelledby="headingEight"
            data-parent="#faq"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="m-0">
                You can update to your new car on the EverWash App. You can only
                do this once during your monthly billing cycle or by contacting
                Customer Support at EverWash.
              </p>
            </div>
          </div>
        </div>
        <!-- Accordion item 9 -->
        <div class="card">
          <div
            id="headingNine"
            class="card-header"
            data-toggle="collapse"
            data-target="#collapseNine"
            aria-expanded="false"
            aria-controls="collapseNine"
          >
            <h6 class="mb-0">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapseNine"
                aria-expanded="false"
                aria-controls="collapseNine"
                class="collapsible-link py-2"
              >
                <span>When will my card be charged?</span>
              </a>
            </h6>
          </div>
          <div
            id="collapseNine"
            aria-labelledby="headingNine"
            data-parent="#faq"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="m-0">
                Your card will be charged on the day you purchased your
                Membership Club Plan each month.
              </p>
            </div>
          </div>
        </div>
        <!-- Accordion item 10 -->
        <div class="card">
          <div
            id="headingTen"
            class="card-header"
            data-toggle="collapse"
            data-target="#collapseTen"
            aria-expanded="false"
            aria-controls="collapseTen"
          >
            <h6 class="mb-0">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapseTen"
                aria-expanded="false"
                aria-controls="collapseTen"
                class="collapsible-link py-2"
              >
                <span>Can I pay with cash?</span>
              </a>
            </h6>
          </div>
          <div
            id="collapseTen"
            aria-labelledby="headingTen"
            data-parent="#faq"
            class="collapse"
          >
            <div class="card-body p-5">
              <p class="m-0">
                Unfortunately, you are unable to use cash because it is a
                monthly recurring charge. You must use either a credit, debit,
                or prepaid card.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Attendant Team -->
  <section id="attendantsTeam">
    <div class="container">
      <h2>Meet the Team</h2>
      <div class="row d-c">
        {#
        <div class="col-lg-6">
          <div class="attendant-team-member">
            <img
              src="/img/rj_miller.jpg"
              class="img-fluid"
              alt="A photo of RJ Miller, a Launch Specialist at EverWash."
            />
            <div>
              <h4>RJ Miller</h4>
              <h5>Partner Success Specialist</h5>
            </div>
          </div>
          <p>
            RJ, a USAF Veteran, meets and trains with new owners and attendants
            to familiarize them with the EverWash platform. Additionally, RJ
            provides support to existing EverWash attendants by conducting
            regular Attendant Training webinars.
          </p>
        </div>
        #}
        <div class="col-lg-7">
          <div class="attendant-team-member">
            <img
              src="/img/sean_pashley.jpg"
              class="img-fluid"
              alt="A photo of Sean Pashley, the Vice President of Partner Success at EverWash."
            />
            <div>
              <h4>Sean Pashley</h4>
              <h5>Vice President of Partner Success</h5>
            </div>
          </div>
          <p>
            After a successful career in restaurant consultation, Sean now leads
            and manages implementations of new car wash partners at EverWash.
            Sean hosts our Advanced Sales Tactics webinar with a proven track
            record in car wash membership sales.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
