---
  title: Join the EverWash Team | Career Opportunities in the Car Wash Industry
  description: Join the EverWash team and shape the future of car washing! Explore exciting careers and our mission to provide a smarter, sustainable car wash experience.
  image: https://everwash.com/img/everwash-main-meta-img.png
  sitemap:
    priority: 0.8
  layout: 'base.njk'
---

<main
  id="careersMain">
  {# Careers Hero #}
  <section id="careersHero">
    <div class="container-fluid">
      <h1 class="slide-up visible brand-nubolts">Come Grow With Us</h1>
      <a href="#careersPositions" class="btn btn-accent slide-up visible">See Job Openings</a>
    </div>
  </section>
  {#About EverWash #}
  <section id="careersAbout">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7">
          <img src="/img/cars-collage.png" alt="" class="img-fluid"/>
        </div>
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-4 m-auto col-md-4">
          <span class="subheader">About EverWash</span>
          <h2>Who We Are</h2>
          <p>
            At EverWash, we believe the best way to delight our customers is through the power of technology.
                        Our
            <span class="gradient-text">innovative solutions</span>
            change the way people see car washes and ultimately benefit their everyday
                        lives.
          </p>
        </div>
      </div>
    </div>
  </section>
  {# What We Believe #}
  <section id="careersCulture">
    <div class="container">
      <span class="subheader">Our Values</span>
      <h2>What We Believe</h2>
      <p>
        Our people and dedication to innovation are our
        <span class="gradient-text">superpowers</span>. We're committed to creating new experiences for our customers, clients,
          and each other. At the heart of what we do, everything comes back to our core values.
      </p>
    </div>
    <div class="container slider-container">
      <div class="row slider-content">
        <div class="col-lg-12">
          <img src="/img/illustrations/illustration_4Tenets_Empathy.svg" alt="" class="img-fluid"/>
          <h3 class="gradient-text">Show <span class="gradient-text-01">Empathy</span></h3>
        </div>
        <div class="col-lg-12">
          <img src="/img/illustrations/illustration_4Tenets_Fun.svg" alt="" class="img-fluid"/>
          <h3 class="gradient-text">Have <span class="gradient-text-01">Fun</span></h3>
        </div>
        <div class="col-lg-12">
          <img src="/img/illustrations/illustration_4Tenets_Authentic.svg" alt="" class="img-fluid"/>
          <h3 class="gradient-text">Be <span class="gradient-text-01">Authentic</span></h3>
        </div>
        <div class="col-lg-12">
          <img src="/img/illustrations/illustration_4Tenets_Authority.svg" alt="" class="img-fluid"/>
          <h3 class="gradient-text">Lead with <span class="gradient-text-01">Authority</span></h3>
        </div>
        <div class="col-lg-12">
          <img src="/img/illustrations/illustration_4Tenets_Empathy.svg" alt="" class="img-fluid"/>
          <h3 class="gradient-text">Show <span class="gradient-text-01">Empathy</span></h3>
        </div>
        {# <div class="col-sm-6" id="imgSliderContainer">
                                  <div id="imgSlider">
                                    <img src="/img/illustrations/empathy.png" alt="" class="img-fluid"/>
                                    <img src="/img/illustrations/confetti.png" alt="" class="img-fluid"/>
                                    <img src="/img/illustrations/handshake2.png" alt="" class="img-fluid"/>
                                    <img src="/img/illustrations/idea.png" alt="" class="img-fluid"/>
                                    <img src="/img/illustrations/empathy.png" alt="" class="img-fluid"/>
                                  </div>
                                </div>
                                <div class="col-sm-6 m-auto" id="textSliderContainer">
                                  <div id="textSlider">
                                    <h3 class="gradient-text">Show Empathy</h3>
                                    <h3 class="gradient-text">Have Fun</h3>
                                    <h3 class="gradient-text">Be Authentic</h3>
                                    <h3 class="gradient-text">Lead with Authority</h3>
                                    <h3 class="gradient-text">Show Empathy</h3>
                                  </div>
                                </div> #}
      </div>
    </div>
  </section>
  {# Work Life Balance #}
  <section id="careersWfh">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <span class="subheader">Work-Life Balance</span>
          <h2>How We Work</h2>
          <p>
            <span class="gradient-text">Life is more than just work.</span>
            We work hard to create a fun, flexible environment that supports success and
                                    promotes
            <span class="gradient-text">balance</span>. By leveraging the latest technology and tools, we give our employees the
              freedom to balance their personal life with their professional life.
          </p>
        </div>
        <div class="col-lg-7">
          <img src="/img/remote-work.jpg" alt="" class="img-fluid"/>
        </div>
      </div>
    </div>
  </section>
  {# Community #}
  <section id="careersBalance">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <h2>
            Building an Authentic, Fun, <br class="d-none d-md-block"/>Innovative, &amp; Engaging <br class="d-none d-md-block"/>
            Community
          </h2>
          <p>
            Building an authentic, fun, innovative, and engaging community is more than just a tagline: it's who we are. Our mission
            is to help people build relationships and create
            <span class="gradient-text">meaningful connections</span>. To accomplish that, we foster an environment where our
              employees feel connected to each other and committed to assisting our clients.
          </p>
        </div>
        <div class="col-lg-7">
          <img src="/img/work-balance.png" alt="" class="img-fluid"/>
        </div>
      </div>
    </div>
  </section>
  {# Hybrid & Local Options #}
  <section id="careersEnvironment">
    <div class="container">
      <h2>Hybrid & Local</h2>
      <p>
        Working from home can feel a little, well, lonely at times. At EverWash, we offer our Philadelphia-based employees a
        choice between working from home or coming into the office. At our headquarters, you can sit across from people who are
        tackling the same challenges you are and enjoy in-person collaboration with colleagues.
      </p>
    </div>
  </section>
  {# Benefits #}
  <section id="careersBenefits">
    <div class="container">
      <h2>Benefits</h2>
      <div class="row">
        <div class="col-sm">
          <img src="/img/icons/brand-primary/Invested_Partnership.svg" alt="" class="img-fluid"/>
          <h3>Company Equity</h3>
          <p>
            As part of our goal of becoming one of the most admired consumer brands, we are dedicated to offering our employees a
            path to equity
          </p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm">
          <img src="/img/icons/brand-primary/Delight.svg" alt="" class="img-fluid"/>
          <h3>Unlimited PTO</h3>
          <p>
            We offer unlimited PTO so you can take your time off when it is needed and have a healthier work-life
            balance.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <img src="/img/icons/brand-primary/Care.svg" alt="" class="img-fluid"/>
          <h3>Health & Life Insurance</h3>
          <p>
            Our benefits include health insurance, dental coverage and vision coverage, life insurance, and LTD
            coverage
          </p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm">
          <img src="/img/icons/brand-primary/Video_Call.svg" alt="" class="img-fluid"/>
          <h3>Remote & Hybrid</h3>
          <p>
            By embracing modern, flexible working practices, we are able to bring together the top talent to create better products,
            while making a positive impact in our industry
          </p>
        </div>
      </div>
    </div>
  </section>
  {# Insurance Transparency #}
  <section id="transparency">
    <div class="container">
      <h3>Transparency in Coverage</h3>
      <div class="row">
        <div class="col-md-6">
          <p>Health plan price transparency helps employees know the cost of a covered item or service before receiving care.
            Visit our trusted health insurance partner, Independence Blue Cross, for transparency in costs.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 d-c">
          <img src="/img/independence.svg" alt="" class="img-fluid"></div>
        </div>
        <a href="https://www.ibx.com/" class="link-dark" target="_blank">Learn More</a>
      </div>
    </section>
    {# Open Positions #}
    <section id="careersPositions">
      <div class="container">
        <h2>Current Openings</h2>
        <iframe
          name="resumator-job-frame"
          id="resumator-job-frame"
          class="resumator-advanced-widget"
          src="//everwash.applytojob.com/apply/jobs/"
          width="100%"
          scrolling="yes"
          frameborder="0"
          allowTransparency="true"></iframe>
        <script>
          function resizeResumatorIframe(height, nojump) {
            if (nojump == 0) {
              window.scrollTo(0, 0);
            }
            document.getElementById("resumator-job-frame").height = parseInt(height) + 20;
          }
        </script>
        <a href="//everwash.applytojob.com/apply/jobs/">View all jobs</a>
        <div id="positionsContainer">{# {%- for jobs in collections.jobs | reverse -%}
                                                                                                                                                      {% include 'job-snippet.njk' %}
                                                                                                                                                    {%- endfor -%} #}
          {# <p id="no-positions-disclaimer">No Positions Currently Open</p> #}
        </div>
      </div>
    </section>
  </main>