---
  title: EverWash | The Clean Ride Solution for Busy Moms
  description: EverWash partners with local car washes to better wash experiences at every touchpoint. Our app helps our customers save money and enjoy their cars.
  permalink: "{{ page.filePathStem }}.html"
  image: https://everwash.com/img/everwash-main-meta-img.png
  layout: 'base.njk'
---

<link rel="stylesheet" type="text/css" href="/css/distributors.css"/>
<main id="macaroniKidsMain">
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <h1 class="display-1">The
                        <span class="gradient-periwinkle-turquoise">Clean Ride Solution</span>
                        for Busy Moms</h1>
                    <small class="text-danger location-search-error">Please enter a valid zip code.</small>
                    <form action="javascript:void(0);" class="form-inline">
                        <div class="form-group">
                            <div class="input-wrapper">
                                <input type="text" class="form-control location-search-field" id="washSearch" placeholder=" "/>
                                <label for="washSearch">
                                    Enter your zipcode
                                </label>
                            </div>
                            <button class="btn btn-primary-rebrand location-search-btn" type="button">
                                Find a Car Wash
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 col-md-5">
                    <img src="/img/bubbles-mockup.png" alt="EverWash app mockup on iphone" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <section id="aboutUs">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <img src="/img/happy-people-collage.png" alt="Collage of happy people in cars" class="img-fluid"/>
                </div>
                <div class="col-lg-5">
                    <h2 class="display-3 gradient-periwinkle-turquoise">EverWash</h2>
                    <h3>The convenient way to keep your car clean regularly</h3>
                    <p>
                        We're moms and dads, too. And we get it: keeping your car clean isn't easy. There's a lot going on and professional car
                        washing can be expensive. An
                        <span>unlimited car wash plan</span>
                        that lets moms like you
                        <span>wash your car whenever you want</span>? There's an app for
                                                                                    that!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="steps">
        <div class="container">
            <h2 class="display-3">Getting Started is Easy</h2>
            <div class="row">
                <div class="col-lg-6 text-center" id="">
                    <div id="howItWorksImgContainer" class="d-c">
                        <div id="stepOneImg" class="step-card-visual">
                            <div id="app-links">
                                <a
                                    href="https://apps.apple.com/us/app/everwash/id962949509?itsct=apps_box_badge&amp;itscg=30200"
                                    style=" display: inline-block; border-radius: 13px; width: 160px; height: 83px; "><img
                                        src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1427500800&h=156920f74ce14a0d9f20433eed2d3a44"
                                        alt="Download on the App Store"
                                        style="border-radius: 13px; width: 160px; height: 83px"/>
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.everwash.carclub&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img
                                        alt="Get it on Google Play"
                                        style="border-radius: 13px; width: auto; height: 78px"
                                        src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"/>
                                </a>
                            </div>
                            <img
                                src="/img/load-screen.png"
                                alt="Loading screen of EverWash unlimited car washes app"
                                id="stepOneMockup"
                                class="img-fluid d-none d-xl-block d-lg-block d-md-block"/>
                        </div>
                        <img
                            src="/img/login.png"
                            alt="Locations map of EverWash unlimited car washes app"
                            class="img-fluid d-none d-xl-block d-lg-block d-md-block step-card-visual"
                            id="stepTwoImg"/>
                        <img
                            src="/img/wash_location_map.png"
                            alt="Activate qr code of EverWash unlimited car washes app"
                            class="img-fluid d-none d-xl-block d-lg-block d-md-block step-card-visual"
                            id="stepThreeImg"/>
                        <img
                            src="/img/wash-plans.png"
                            alt="Activate qr code of EverWash unlimited car washes app"
                            class="img-fluid d-none d-xl-block d-lg-block d-md-block step-card-visual"
                            id="stepFourImg"/>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="step-card" id="howItWorksStepOne">
                        <img src="/img/load-screen.png" alt="Loading screen of EverWash unlimited car washes app" class="img-fluid d-lg-none"/>
                        <h3 class="step-card-name">Step 1</h3>
                        <p>
                            Download the EverWash App
                        </p>
                        <div class="row d-lg-none">
                            <div class="col-sm-6 d-c">
                                <a
                                    id="appStoreLink"
                                    href="https://apps.apple.com/us/app/everwash/id962949509?itsct=apps_box_badge&amp;itscg=30200"
                                    style=" display: inline-block; border-radius: 13px; width: 160px; height: 83px; "><img
                                        src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1427500800&h=156920f74ce14a0d9f20433eed2d3a44"
                                        alt="Download on the App Store"
                                        style="border-radius: 13px; width: 160px; height: 83px"/>
                                </a>
                            </div>
                            <div class="col-sm-6 d-c">
                                <a href="https://play.google.com/store/apps/details?id=com.everwash.carclub&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img
                                        alt="Get it on Google Play"
                                        style="border-radius: 13px; width: auto; height: 78px"
                                        src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="step-card" id="howItWorksStepTwo">
                        <img
                            src="/img/login.png"
                            alt="Iphone 11 with EverWash unlimited car washes app pick location screen"
                            class="img-fluid d-lg-none"/>
                        <h3 class="step-card-name">Step 2</h3>
                        <p>
                            Create an account
                        </p>
                    </div>
                    <div class="step-card" id="howItWorksStepThree">
                        <img
                            src="/img/wash_location_map.png"
                            alt="Iphone 11 with EverWash unlimited car washes app qr code screen"
                            class="img-fluid d-lg-none"/>
                        <h3 class="step-card-name">Step 3</h3>
                        <p>
                            Find a location near you
                        </p>
                    </div>
                    <div class="step-card" id="howItWorksStepFour">
                        <img
                            src="/img/wash-plans.png"
                            alt="Iphone 11 with EverWash unlimited car washes app qr code screen"
                            class="img-fluid d-lg-none"/>
                        <h3 class="step-card-name">Step 4</h3>
                        <p>
                            Select a plan that fits your needs
                        </p>
                    </div>
                </div>
            </div>
            <h2 class="display-3">And Start Washing!</h2>
        </div>
    </section>
    <section id="valueProp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 center-vertically">
                    <img
                        src="/img/illustrations/car-wash-scene-2.png"
                        alt="EverWash illustration of unlimited car wash membership app in use"
                        class="img-fluid"/>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <h2 class="display-4">Adjust Your Plan as Your Needs Change</h2>
                    <ul>
                        <li>
                            <i class="fas fa-check"></i>Freeze your membership</li>
                        <li>
                            <i class="fas fa-check"></i>Upgrade or downgrade your membership</li>
                        <li>
                            <i class="fas fa-check"></i>Add additional vehicles at a discounted price</li>
                        <li>
                            <i class="fas fa-check"></i>There are no long-term contracts</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="reviews">
        <div class="container">
            <h3 class="display-4">What Members Are Saying</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="reviewContainer">
                        <i class="fas fa-quote-left"></i>
                        <p class="reviewContent">
                            I love having a car wash membership! I never have to worry about having cash or my bank card on me for the machine. I
                            don't even have to roll my window to scan the code -
                            <span>it literally could not be easier</span>.
                        </p>
                        <h4 class="reviewName">JoBlack67</h4>
                        <h5 class="reviewSubline">EverWash User</h5>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="reviewContainer">
                        <i class="fas fa-quote-left"></i>
                        <p class="reviewContent">
                            My wife and I both have our cars on the EverWash app. It works. It is convenient, we don't have to have a sticker/tag on
                            the windshield for a reader to pick up. It reads the phone instead. It is fast and I don't even have to put my window
                            down.
                            <span>Scan the QR code and go!</span>
                        </p>
                        <h4 class="reviewName">G-Baker</h4>
                        <h5 class="reviewSubline">EverWash User</h5>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="reviewContainer">
                        <i class="fas fa-quote-left"></i>
                        <p class="reviewContent">
                            <span>Easy to use!</span>
                            You don't eve have to roll down your window for scanning; it scans right through the glass to maintain social
                            distancing. You cancel your membership at anytime with no strings attached right on the app. I recommended the app and
                            service to all!
                        </p>
                        <h4 class="reviewName">Neak1007</h4>
                        <h5 class="reviewSubline">EverWash User</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="cleanCarEnemiesPoll">
        <div class="container">
            <h3 class="display-4">Fight Clean Car Enemies</h3>
            <p class="subheading">
                Get all the good clean car, happy mom vibes! A car wash anytime life sends unexpected messes your way? Yes please!
            </p>
            <div class="row">
                <div class="col-lg-12 d-c">
                    <img src="/img/clean-car-enemies-compressed.png" alt="" class="img-fluid"/>
                </div>
                <div class="col-lg-12 d-c">
                    <button
                        data-tf-popup="Yu4uMxnO"
                        data-tf-hide-headers
                        data-tf-size="50"
                        data-tf-iframe-props="title=Clean Car Enemies Poll"
                        data-tf-medium="snippet"
                        style="all:unset;font-family:Montserrat,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#141464;color:#FFFFFF;font-size:16px;border-radius:50px;padding:5px
                            40px;font-weight:500;height:50px;cursor:pointer;line-height:40px;text-align:center;margin:0;text-decoration:none;">
                        Take the Survey!</button>
                    <script src="//embed.typeform.com/next/embed.js"></script>
                    {# <div
                                                                                                                                                                                                                                                                                                                                                                                                        data-tf-widget="Yu4uMxnO"
                                                                                                                                                                                                                                                                                                                                                                                                        data-tf-opacity="0"
                                                                                                                                                                                                                                                                                                                                                                                                        data-tf-iframe-props="title=Clean Car Enemies Poll"
                                                                                                                                                                                                                                                                                                                                                                                                        data-tf-medium="snippet"
                                                                                                                                                                                                                                                                                                                                                                                                        style="width:100%;height:1500px;"></div>
                                                                                                                                                                                                                                                                                                                                                                                                    <script src="//embed.typeform.com/next/embed.js"></script> #}
                    {# <img
                                                                                                                                                                                                                                                                                                                                                                                                        src="/img/clean-car-enemies.png" alt="Collage of dirty dog, bird poop, leaves, and ice on cars" class="img-fluid"> #}
                </div>
            </div>
        </div>
    </section>
    <section id="endingCTA">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img
                        src="/img/illustrations/car-wash-scene-1.png"
                        alt="EverWash illustration of a car wash with unlimited car wash membership"
                        class="img-fluid"/>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 center-vertically">
                    <h3 class="display-4">Let's Get Started!</h3>
                    <a href="https://app.everwash.com/#locations/" class="btn btn-primary-rebrand">Find a car wash</a>
                </div>
            </div>
        </div>
    </section>
</main>