---
  title: Partner with EverWash to Expand Your Network | Become a Distributor Today
  description: Partner with EverWash and become a distributor of our innovative car wash technology. Find out how you can join our growing network of partners and bring a smarter, more convenient car wash experience to your customers.
  permalink: "{{ page.filePathStem }}.html"
  image: https://everwash.com/img/everwash-main-meta-img.png
  sitemap:
    priority: 0.8
  layout: 'base-default.njk'
---

<main id="distributorMain">
  <!-- Partners Navigation -->
  <!-- Distributor Hero -->
    <section id="partnerHome"> <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1>
            Distributors Wash Together <br/> & Win Together, Too
          </h1>
          <p>
            EverWash believes that when we wash together, we win together. That's why we've teamed with other top car wash OEM
            providers, distributors, and service vendors to create an unbeatable team of
            <strong>experts and resources</strong>
            for our wash partners.
          </p>
          {# <button class="btn btn-white d-c">
                          <a href="#distributorsForm">Learn More</a>
                        </button> #}
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </section>
  <!-- Distributor Filter -->
  <section id="distributorFilter">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-12 mx-auto">
          <!-- Accordion -->
          <div
            id="faq" class="accordion">
            <!-- Accordion item 1 -->
            <div class="card">
              <div
                id="headingOne"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne">
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                    class="collapsible-link py-2">Chemicals &amp; Equipment</a>
                </h6>
              </div>
              <div id="collapseOne" aria-labelledby="headingOne" data-parent="#faq" class="collapse">
                <div class="card-body p-5">
                  <div class="row">
                    <div class="col-lg-6">
                      <img src="./img/logos/ncs-thumnail.jpg" alt="NCS Vehicle Care logo" class="img-fluid"/>
                      <h6>NCS Vehicle Care</h6>
                      <p>
                        NCS Vehicle Care is the largest provider of car wash chemistry to the professional car wash industry. NCS Vehicle Care
                        represents and markets the most recognized and trusted consumer brands, including Armor All&reg; Professional, Blue
                        Coral&reg, Rain-X®, and Black Magic&reg;. Additionally, PurClean™ is a leader in water treatment and reclamation
                        equipment offerings.
                      </p>
                    </div>
                    <div class="col-lg-6">
                      <img src="./img/logos/kleenrite-thumbnail.jpg" alt="Kleen-Rite Car Care logo" class="img-fluid"/>
                      <h6>Kleen-Rite</h6>
                      <p>
                        Kleen-Rite Corp. is a wholesale supplier specializing in car care and pressure cleaning, offering the best prices and
                        most comprehensive selection of products for in-bay automatics, touch-free car washes, conveyor tunnels, and mobile
                        washing. Their corporate office is located in Columbia, Pennsylvania, along with four warehouse locations across the
                        country in Mount Joy, Las Vegas, Grand Prairie, and Kansas City.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Accordion item 2 -->
            {# <div class="card">
              <div
                id="headingTwo"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo">
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                    class="collapsed collapsible-link py-2">Pay Stations &amp; POS</a>
                </h6>
              </div>
              <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faq" class="collapse">
                <div class="card-body p-5">
                  <div class="row">
                    <div class="col-lg-6">
                      <img src="./img/logos/drb-thumbnail.jpg" alt="DRB In-Bay Solutions logo" class="img-fluid"/>
                      <h6>DRB In-Bay Solutions</h6>
                      <p>
                        For over a third of a century, DRB&reg; supported, and often drove, an era of unprecedented growth in the car wash
                        industry with point-of-sale and wash optimization software, hardware, and services. They do this with data and industry
                        insights, a best-in-class team, and reliable, intuitive innovations that delight consumers and are secure, simple to
                        service, and easy to use. DRB’s In-Bay Solutions division specifically serves the unattended and C-Store car wash
                        market, providing Uptime Solutions&trade;, the reliable Unitec brand of car wash pay stations and Sierra&reg; and
                        Director&reg; software.
                      </p>
                    </div>
                    <div class="col-lg-6">
                      <img src="./img/logos/washify-thumbnail.jpg" alt="Washify Point-of-sale system logo" class="img-fluid"/>
                      <h6>Washify</h6>
                      <p>
                        Washify is an advanced POS system for the car wash industry. The Washify system was built by a car wash owner for car
                        wash owners and goes beyond transaction handling by offering a suite of automated marketing tools, integration with
                        QuickBooks, advanced remote reporting, and much more.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div> #}
            <!-- Accordion item 3 -->
            <div class="card">
              <div
                id="headingThree"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree">
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                    class="collapsed collapsible-link py-2">Payment Systems</a>
                </h6>
              </div>
              <div id="collapseThree" aria-labelledby="headingThree" data-parent="#faq" class="collapse">
                <div class="card-body p-5">
                  <div class="row">
                    <div class="col-lg-12">
                      <a href="/distributors/cryptopay/"><img src="./img/logos/cryptopay-thumbnail.jpg" alt="CryptoPay logo" class="img-fluid"/></a>
                      <h6>CryptoPay</h6>
                      <p>
                        CryptoPay delivers a secure, cost-effective, and simple way to integrate a payment interface for laundromats, car wash,
                        or anywhere you want to add stand-alone self-service payments in unattended environments.
                        <a class="read_more" href="/distributors/cryptopay.html/">Read More</a>
                      </p>
                    </div>
                    {# <div class="col-lg-6">
                      <img src="./img/logos/touch4wash-thumbnail.jpg" alt="Touch4Wash logo" class="img-fluid"/>
                      <h6>Touch4Wash</h6>
                      <p>
                        Touch4Wash technology allows customers to activate a car wash with the touch of a button on their phone at IBA and
                        self-serve car wash bays. Touch4Wash works with EverWash to allow for remote start at participating locations.
                      </p>
                    </div> #}
                  </div>
                </div>
              </div>
            </div>
            <!-- Accordion item 4 -->
            <div class="card">
              <div
                id="headingFour"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour">
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                    class="collapsed collapsible-link py-2">Marketing Services</a>
                </h6>
              </div>
              <div id="collapseFour" aria-labelledby="headingFour" data-parent="#faq" class="collapse">
                <div class="card-body p-5">
                  <div class="row">

                    {# <div class="col-lg-4">
                      <img src="./img/logos/welcomemat-thumbnail.jpg" alt="Welcomemat Wash Solutions logo" class="img-fluid"/>
                      <h6>Welcomemat Wash Solutions</h6>
                      <p>
                        Welcomemat Wash Solutions uses a specialized technique for car wash advertising, connecting car washes to those
                        high-value customers, such as new movers, using targeted data. Welcomemat helps washes find the right customers through
                        market research and analysis and keep them coming in regularly.
                      </p>
                    </div>
                    <div class="col-lg-4">
                      <img src="./img/logos/optspot-thumbnail.jpg" alt="OptSpot Logo" class="img-fluid"/>
                      <h6>OptSpot</h6>
                      <p>
                        OptSpot allows washes to consolidate and automate marketing efforts with text messaging that works. Through custom
                        'drip' campaigns, customers will learn everything they need to know about a wash, allowing operators to reap the
                        benefits of more washes more often and more wash pass member conversions — all while saving time and money.
                      </p>
                    </div>
                    <div class="col-lg-4">
                      <img src="./img/logos/washmore-media-thumbnail.jpg" alt="Washmore Media logo" class="img-fluid"/>
                      <h6>Washmore Media</h6>
                      <p>
                        Washmore Media is a full-service advertising and marketing agency specific for car wash operators. With a complete and
                        total emphasis on the car wash industry, Washmore offers award-winning graphic design, social media management, media
                        buying, content development, web design and development, digital strategies, and video production for operators.
                      </p>
                    </div> #}
                    <div class="col-lg-12">
                      <img src="./img/logos/ahearn-signs-thumbnail.jpg" alt="Ahearn Signs logo" class="img-fluid"/>
                      <h6>Ahearn Signs</h6>
                      <p>
                        Founded in 1990, Ahearn Signs has grown over the past three decades into a signage company celebrated for its exceptional customer service and quick turnaround times. In late 2018, Ahearn Signs relocated to a new 16,000-square-foot facility, enhancing their graphic and manufacturing capabilities significantly. We trust Ahearn Signs to deliver the highest quality products swiftly and affordably, guaranteeing our customers' utmost satisfaction.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Accordion item 5 -->
            {# <div class="card">
              <div
                id="headingFive"
                class="card-header"
                data-toggle="collapse"
                data-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive">
                <h6 class="mb-0">
                  <a
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                    class="collapsed collapsible-link py-2">Marketplace &amp; Fleet</a>
                </h6>
              </div>
              <div id="collapseFive" aria-labelledby="headingFive" data-parent="#faq" class="collapse">
                <div class="card-body p-5">
                  <div class="row">
                    <div class="col-lg"></div>
                    <div class="col-lg-6">
                      <img src="./img/logos/autocare-network-thumbnail.jpg" alt="Autocare Network logo" class="img-fluid"/>
                      <h6>Autocare Network</h6>
                      <p>
                        Autocare Network helps connect car buyers with local car washes and their membership programs to protect their new
                        investment and provide more value to a consumer's relationship with their car dealership. Their DealerBundle is the
                        premier dealership member app for all third-party products associated with a new vehicle purchase.
                      </p>
                    </div>
                    <div class="col-lg"></div>
                  </div>
                </div>
              </div>
            </div> #}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Distributor Contact Form -->
  <!-- CTA -->
  <section id="distributorCTA">
    <div class="container   slide-up on-scroll-animation">
      <h2 class="brand-nubolts">Partner with EverWash</h2>
      <p>
        Learn more about the benefits of becoming an EverWash distributor by clicking here.</p>
      <button class="btn btn-accent" type="button" data-toggle="modal" data-target="#distributorFormModal">
        Get In Touch
      </button>
    </div>
  </section>
  {# <section id="distributorsForm">
          <div class="container">
            <div class="row">
              <div class="col-lg-5">
                <div class="img-container">
                  <img
                    src="../img/EverWash_Logo_White.png"
                    alt="EverWash logo"
                    class="img-fluid"
                  />
                </div>
                <h5>Contact Information</h5>
                <p>
                  Fill out the form or contact us directly and our team will get
                  back to you within 24 hours.
                </p>
                <div>
                  <p>
                    <i class="fas fa-phone-alt"></i
                    ><a href="tel:8554927477">(855) 492-7477</a>
                  </p>
                  <p>
                    <i class="fas fa-envelope"></i
                    ><a href="mailto:sales@everwash.com">sales@everwash.com</a>
                  </p>
                </div>
              </div>
              <div class="col-lg-7">
                <form
                  id="distributorFormData"
                  name="Distributor Form"
                  method="POST"
                  action="./distributors-success.html"
                  data-form="formData"
                  netlify
                  netlify-honeypot="bot-field"
                >
                  <input
                    type="hidden"
                    name="Subject"
                    data-email-subject="emailSubject"
                    value="New Form Submission"
                  />
                  <input
                    type="hidden"
                    name="formName"
                    value="Distributor Form"
                    aria-hidden="true"
                  />
                  <div class="bot-field">
                    <label>
                      Don't fill this out if you're human:
                      <input name="bot-field" />
                    </label>
                  </div>
                  <h5>Send a Message</h5>
                  <div class="input-wrapper">
                    <input
                      name="name"
                      id="name"
                      class="form-control"
                      type="text"
                      required="required"
                      placeholder=" "
                      aria-label="Enter your full name"
                    />
                    <label for="name"> Your full name </label>
                  </div>
  
                  <div class="input-wrapper">
                    <input
                      name="email"
                      id="email"
                      class="form-control"
                      type="email"
                      required="required"
                      placeholder=" "
                      aria-label="Enter your email"
                    />
                    <label for="email">Email</label>
                  </div>
  
                  <div class="input-wrapper">
                    <input
                      name="phone"
                      id="phone"
                      class="form-control"
                      type="tel"
                      required="required"
                      placeholder=" "
                      aria-label="Enter your phone number"
                    />
                    <label for="phone">Phone Number</label>
                  </div>
                  <div class="input-wrapper">
                    <input
                      name="company-name"
                      id="companyName"
                      class="form-control"
                      type="text"
                      required="required"
                      placeholder=" "
                    />
                    <label for="companyName">Company Name</label>
                  </div>
  
                  <select class="form-control" name="how-you-heard" id="">
                    <option value="" disabled="" selected="">
                      How'd you hear about us?
                    </option>
                    <option value="Trade Show">Trade Show</option>
                    <option value="Magazine Ad">Magazine Ad</option>
                    <option value="Online Search">Online Search</option>
                    <option value="Online Ad">Online Ad</option>
                    <option value="TalkCarWash">
                      TalkCarWash Facebook Group
                    </option>
                    <option value="Word of Mouth">Word of Mouth</option>
                    <option value="Other">Other</option>
                  </select>
                  <p class="disclaimer">
                    * This form is specifically for Car Wash Owners who wish to
                    contact EverWash about setting up a membership program at
                    their location. If you are a current EverWash member looking
                    for customer support, please contact our Member Support Team
                    at support@everwash.com or call 215-618-8808 to speak with an
                    agent.
                  </p>
                  <div class="d-c">
                    <button id="submitFormBtn" type="submit" class="btn btn-blue">
                      Send Message
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section> #}
  <div class="modal fade" id="distributorFormModal" tabindex="-1" aria-labelledby="Contact Us" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row" id="contactSalesForm">
            <div class="col-lg-5">
              <img src="../img/logos/EverWash_HorizontalLogo_RGB_White.png" alt="EverWash logo" class="img-fluid"/>
              <button type="button" class="close d-lg-none" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  <i class="fal fa-times"></i>
                </span>
              </button>
              <p>Fill out the form or contact us.</p>
              <div class="contact-info">
                <p>
                  <i class="fas fa-envelope"></i>
                  <a href="mailto:sales@everwash.com">sales@everwash.com</a>
                </p>
                <p>
                  <i class="fas fa-phone-alt"></i>
                  <a href="tel:8554927477">(855) 492-7477</a>
                </p>
              </div>
            </div>
            <div class="col-lg-7">
              <div id="omnixModalHeader">
                <div class="header-content">
                  <button type="button" class="close d-none d-lg-block" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                      <i class="fal fa-times"></i>
                    </span>
                  </button>
                </div>
              </div>
              <div id="standard-form">
                <img src="/img/illustrations/car-wash-scene-2.png" alt="Activating unlimited car washes with an app" class="img-fluid"/>
                <h5>Excel at Membership with EverWash</h5>
                <p>
                  Talk to a membership professional about how the EverWash Platform can increase the overall profitability of your wash
                </p>
                <form
                  id="distributorFormData"
                  name="Distributor Form"
                  method="POST"
                  action="./distributors-success.html"
                  data-form="formData"
                  netlify
                  netlify-honeypot="bot-field">
                  <input type="hidden" name="Subject" data-email-subject="emailSubject" value="Distributor Form Submission"/>
                  <input type="hidden" name="formName" value="Distributor Form" aria-hidden="true"/>
                  {% include 'wash-owner-form.njk' %}
                  <!--
                  <div class="bot-field">
                    <label>
                      Don't fill this out if you're human: <input name="bot-field"/>
                    </label>
                  </div>
                  <div class="input-row">
                    <div class="input-wrapper">
                      <input
                        name="name"
                        id="name"
                        class="form-control"
                        type="text"
                        required="required"
                        placeholder=" "
                        aria-label="Enter your first name"/>
                      <label for="name">First Name</label>
                    </div>
                    <div class="input-wrapper">
                      <input
                        name="last-name"
                        id="lastName"
                        class="form-control"
                        type="text"
                        required="required"
                        placeholder=" "
                        aria-label="Enter your last name"/>
                      <label for="lastNameInput">Last Name</label>
                    </div>
                  </div>
                  <div class="input-wrapper">
                    <input
                      name="email"
                      id="email"
                      class="form-control"
                      type="email"
                      required="required"
                      placeholder=" "
                      aria-label="Enter your email"/>
                    <label for="email">Email</label>
                  </div>
                  <div class="input-wrapper">
                    <input
                      name="phone"
                      id="phone"
                      class="form-control"
                      type="tel"
                      required="required"
                      placeholder=" "
                      aria-label="Enter your phone number"/>
                    <label for="phone">Phone Number</label>
                  </div>
                  <div class="input-wrapper">
                    <input name="company-name" id="companyName" class="form-control" type="text" required="required" placeholder=" "/>
                    <label for="companyName">Company Name</label>
                  </div>
                  <select class="form-control" name="how-you-heard" id="">
                    <option value="" disabled="" selected="">
                      How'd you hear about us?
                    </option>
                    <option value="Trade Show">Trade Show</option>
                    <option value="Magazine Ad">Magazine Ad</option>
                    <option value="Online Search">Online Search</option>
                    <option value="Online Ad">Online Ad</option>
                    <option value="TalkCarWash">
                      TalkCarWash Facebook Group
                    </option>
                    <option value="Word of Mouth">Word of Mouth</option>
                    <option value="Other">Other</option>
                  </select>
                  <div class="d-c">
                    <button id="submitFormBtn" type="submit" class="btn btn-blue">
                      Submit
                    </button>
                  </div>
                  -->
                </form>
              </div>  
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer"> <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
        >
            Close
        </button> </div> -->
      </div>
    </div>
  </div>
</main>