---
  title: Expert Support for EverWash Members and Car Wash Owners | Contact Us for Assistance
  description: Get the support you need for your EverWash membership or car wash business with our comprehensive support resources. Find answers to common questions or get in touch with our customer support team.
  permalink: "{{ page.filePathStem }}.html"
  image: https://everwash.com/img/everwash-main-meta-img.png
  sitemap:
    priority: 0.8
  layout: 'base-default.njk'
---

<main
  id="supportBody">
  <!-- Support Navigation Breadcrumb -->
  <section class="supportNav">
    <div class="container">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            Welcome to EverWash Support
          </li>
        </ol>
      </div>
    </div>
  </section>
  <!-- Support Body -->
  <section class="supportContent">
    <div class="container">
      <h1>How Can We Help You Today?</h1>
      <div class="row">
        <div class="col-lg col-md-6 col-sm-6">
          <a href="members/members-support.html" class="btn">
            <div class="img-container-support">
              <img src="/img/illustrations/car-wash-scene-5.png" alt="Illustration of a family in a dirty car" class="img-fluid px-3">
            </div>
            <h5>Member Support</h5>
            <p>Assistance for EverWash members</p>
          </a>
        </div>
        <div class="col-lg col-md-6 col-sm-6">
          <a href="wash-owners/wash-owners-support.html" class="btn">
            <div class="img-container-support">
              <img src="/img/illustrations/car-wash-scene-4.png" alt="Illustration of a car wash operator" class="img-fluid">
            </div>
            <h5>Partner Support</h5>
            <p>Assistance for car wash owners and operators</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>