---
  title: EverWash Webinars | Boosting Revenue for Car Wash Owners
  description: See how EverWash's technology solutions have helped car wash owners nationwide. Explore our Case Study page to learn about real-world results, such as increased revenue and improved customer satisfaction.
  permalink: "{{ page.filePathStem }}.html"
  image: https://everwash.com/img/everwash-main-meta-img.png
  sitemap:
    priority: 0.64
  layout: 'base-default.njk'
---

<!-- Start of Confirmation Form Modal -->
<button
  class="btn btn-blue d-none"
  type="button"
  data-toggle="modal"
  data-target="#formConfirmation"
  id="triggerFormConfirmation">
  Learn More</button>
<div class="modal fade partnerModal" id="formConfirmation" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fal fa-times"></i>
        </span>
      </button>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs">
            <i class="fas fa-envelope-open-text"></i>
            <h3>Your form was <br/>successfully submited</h3>
            <p>
              Thanks for your interest! An EverWash representative will be in contact with you shortly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Confirmation Form Modal -->

<main id="webinarsBody">
  <!-- Webinars Hero -->
  <section id="webinarsHero">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="info-box">
            <h4>Upcoming Webinar:</h4>
            <div class="box-content">
              <h3>Stay Tuned! We'll be announcing our next webinar and opening up registration soon!</h3>
              <!-- <h5>May 22nd, 1pm EST</h5> 
              <p>We should have a plan with dates for our next two webinars soon.</p> -->
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="info-box">
            <h4>Sign up for the next one!</h4>
            <div class="form-content">
              <img src="/img/new-update/zoom-img.png" alt="EverWash zoom" class="img-fluid"/>
              <button class="btn btn-blue" type="button" data-toggle="modal" data-target="#zoomSignupmodal">
                Sign Up
              </button>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>

  <!-- Zoom Sign Up Popup -->
  <div class="modal fade" id="zoomSignupmodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <iframe src="https://us06web.zoom.us/webinar/register/WN_FXFpOSZFR22bk6AX8Ft9kg"></iframe>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Webinars Previous -->
  <section id="webinarsPrevious">
    <div class="container">
      <div class="header-content">
        <img src="/img/new-update/webinars_img.png" class="img-fluid"/>
        <h4>Previous Webinars:</h4>
      </div> 
      
      <div class="row">
        <div class="col-sm-7 left">
          <div class="video-box">
            <iframe width="100%" height="375"
              src="https://www.youtube.com/embed/_oSLQhII0BU?si=DJHl3ypOTnjTSdsL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="info-box">
            <h5>EverWash Rocket Series - Secrets to increase Car Wash Traffic</h5>
            <p>The focus of this engaging session was on leveraging proven strategies to boost car wash traffic and, more importantly, turn those visits into lasting customer loyalty and membership. With their extensive experience in driving traffic to car washes nationwide, Max and Sean shared firsthand knowledge and actionable tips that can help any car wash operator increase their annual wash count.</p>
            <a href="https://www.everwash.com/blog/2024-05-22-watch-secrets-to-increasing-car-wash-traffic-webinar-recap/" class="btn btn-green" target="_blank">Learn More</a>
          </div>
        </div>
      </div>

      <div class="hr-content"><hr></div>

      <div class="row">
        <div class="col-sm-5">
          <div class="info-box">
            <h5>EverWash Rocket Series: Boost Your Membership Sales</span></h5>
            <p>EverWash's Sean Pashley and Mike Christie delved deep into the art and science of assembling a team equipped to elevate your membership numbers and, in turn, your bottom line.</p>
            <p>From identifying the right candidates who share your vision of service excellence, to implementing training programs that empower them with the skills and knowledge to succeed, to fostering an environment that prioritizes their growth and retention — the webinar covered it all.</p>
            <a href="https://www.everwash.com/blog/2024-03-07-watch-insights-from-everwashs-latest-webinar-on-boosting-membership-sales/" class="btn btn-green" target="_blank">Learn More</a>
          </div>
        </div>
        <div class="col-sm-7 left">
          <div class="video-box">
            <iframe width="100%" height="375"
              src="https://www.youtube.com/embed/wWWBSbPxiSc?si=oErCNJPy_C4IDLZY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>

      <div class="hr-content"><hr></div>

      <div class="row">
        <div class="col-sm-7 right">
          <div class="video-box">
            <iframe width="100%" height="375"
              src="https://www.youtube.com/embed/Dm4VT2PZlcI?si=-rA5d4FU70hGBR86" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="info-box">
            <h5>Optimize Your Car Wash Business and Maximize Its Value</h5>
            <p>Did you miss our exclusive October 17, 2023 webinar, "Optimize Your Car Wash Business and Maximize Its Value"? If you did, don't worry! You can now watch the recording at your convenience. Join Harry Caruso, Founder of Car Wash Advisory Group, as he shares financial and industry insights for those looking to sell their car wash businesses.</p>
            <p>Discover strategies to enhance your business's value, effective tactics for navigating the transition process, and how to prepare your business for a potential sale. Plus, get expert tips on optimizing your operations for long-term growth.</p>
            <a href="https://www.everwash.com/blog/2023-11-09-listen-learns-ways-to-optimize-your-car-wash-business-and-maximize-its-value/" class="btn btn-green" target="_blank">Learn More</a>
          </div>
        </div>
      </div>
          
    </div>
  </section>
  
  <!-- Webinars CTA -->
  <section id="webinarsCTA">
    <div class="container">
      <h2>Partner With EverWash</h2>
      <p>Learn more about the benefits of becoming an EverWash wash partner by clicking here.</p>
      <button class="btn btn-accent" type="button" data-toggle="modal" data-target="#distributorFormModal">
        Get In Touch
      </button>
    </div>
  </section>

  <!-- Webinars Sales Lead Form -->
  <div class="modal fade" id="distributorFormModal" tabindex="-1" aria-labelledby="Contact Us" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row" id="contactSalesForm">
            <div class="col-lg-5">
              <img src="../img/logos/EverWash_HorizontalLogo_RGB_White.png" alt="EverWash logo" class="img-fluid"/>
              <button type="button" class="close d-lg-none" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  <i class="fal fa-times"></i>
                </span>
              </button>
              <p>Fill out the form or contact us.</p>
              <div class="contact-info">
                <p>
                  <i class="fas fa-envelope"></i>
                  <a href="mailto:sales@everwash.com">sales@everwash.com</a>
                </p>
                <p>
                  <i class="fas fa-phone-alt"></i>
                  <a href="tel:8554927477">(855) 492-7477</a>
                </p>
              </div>
            </div>
            <div class="col-lg-7">
              <div id="omnixModalHeader">
                <div class="header-content">
                  <button type="button" class="close d-none d-lg-block" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                      <i class="fal fa-times"></i>
                    </span>
                  </button>
                </div>
              </div>
              <div id="standard-form">
                <img src="/img/illustrations/car-wash-scene-2.png" alt="Activating unlimited car washes with an app" class="img-fluid"/>
                <h5>Excel at Membership with EverWash</h5>
                <p>
                  Talk to a membership professional about how the EverWash Platform can increase the overall profitability of your wash
                </p>
                <form
                  id="webinarsFormData"
                  name="Webinars Sales Lead Form"
                  method="POST"
                  action="/webinars-success.html"
                  data-form="formData"
                  netlify
                  netlify-honeypot="bot-field">
                  <input type="hidden" name="Subject" data-email-subject="emailSubject" value="Webinars Sales Lead Form"/>
                  <input type="hidden" name="formName" value="Webinars Sales Lead Form" aria-hidden="true"/>
                  {% include 'wash-owner-form.njk' %}
                </form>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>